
<p style="color: #666; font-size: 14px;">
    You have received a reply to your review on "{item_title}".
    <br />
    <br />
    From: {from_name}
    <br />
    {content}
    <br />
    <br />
    <a href="{view_url}" style="display: inline-block; padding: 5px 14px; background-color: #59a8e9; font-size: 14px; color: #ffffff; text-decoration: none; border-radius: 3px;">View</a>
</p>
