.body {
    background-color: #E4E4E4;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.table > header, .table > footer {
    clear: both;
}

.table > header span:first-child {
    padding-left: 15px;
    text-align: left;
}

.table > ul.items li.item section:first-child {
    padding-left: 15px;
    text-align: left;
}

.container header h2 {
    padding-top: 5px;
}
.container header .button {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #666;
    display: block;
    float: right;
    font-size: 11px;
    height: 21px;
    line-height: 21px;
    margin: 11px 10px 0 0;
    padding: 0 10px;
    text-transform: uppercase;
    transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s;
}
.container header .button:hover {
    color: #333;
}

.button_small {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #666;
    display: block;
    float: right;
    font-size: 11px;
    line-height: 19px;
    margin: 0;
    padding: 0 10px;
    text-transform: uppercase;
    transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s;
}
.button_small:hover {
    background: #fff none repeat scroll 0 0;
    color: #333;
}

.search_paging {
    padding-bottom: 6px;
}

.search_paging .form_search {
    margin: 0px;
}

.search_paging .view_paging {
    margin: 2px 0 0 0;
}

.search_paging .form_search_icon {
    margin: 5px 0 0 200px;
}

form input[type="text"].smaller_60 {
    display: inline-block;
    width: 60px;
}

form .contain .inner_quarter {
    width: 205px;
}

label.for_select {
    clear: both;
}

.container.tabbed-header {
    overflow: visible;
}
.tabbed-header section.tab {
    display: none;
}
.tabbed-header section.tab.active {
    display: block;
}

.container.expand header, .container.expanded header {
    cursor: pointer;
}
.container.expand section, .container.expand footer {
    display: none;
}

.uccms_toggle {
    cursor: pointer;
}
/*
h3.uccms_toggle {
    margin-bottom: 0px;
}
*/

.table .url_404 {
    width: 350px;
}

.callout_fields {
    width: auto;
}
.bigtree_dialog_form .overflow {
    width: 720px;
}
.bigtree_dialog_form fieldset {
    width: auto;
}
.bigtree_dialog_form input[type=text], .bigtree_dialog_form input[type=email], .bigtree_dialog_form input[type=password], .bigtree_dialog_form input[type=url] {
    width: 680px;
}

fieldset.callouts .contain article {
    overflow: hidden;
}

fieldset.callouts .contain article.type-image {
    height: 192px;
}
fieldset.callouts .contain article.type-image h4 {
    height: 130px;
}
fieldset.callouts .contain article.type-image h4 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
fieldset.callouts .contain article.type-image p {
    height: 25px;
    line-height: 15px;
}
fieldset.callouts .contain article .bottom {
    height: 100%;
}

.mce-container {
    width: auto !important;
}

#wysiwyg_link_browser {
    height: 152px;
    margin-left: -70px; /* -118 */
}
#wysiwyg_link_browser .search input[type="text"] {
    width: 250px;
    display: inline-block;
    vertical-align: middle;
}
#wysiwyg_link_browser .results {
    height: 112px;
    overflow-y: scroll;
    margin-top: 5px;
    border: 1px solid #ddd;
}
#wysiwyg_link_browser .results .loading, #wysiwyg_link_browser .results .no-results {
    padding: 10px;
}
#wysiwyg_link_browser .results .items {
    display: none;
}
#wysiwyg_link_browser .results .items .item {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 5px 10px;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
}
#wysiwyg_link_browser .results .items .item:nth-child(even) {
    background: #f9f9f9;
}
#wysiwyg_link_browser .results .items .item:hover {
    background-color: #eaf2fa;
    color: #151515;
}
#wysiwyg_link_browser .results .items .item .title {
    width: calc(100% - 68px);
    font-size: .92em;
    color: #333;
}
#wysiwyg_link_browser .results .items .item .type {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    padding: 0 10px;
    background-color: #fff;
    float: right;
    font-size: .8em;
    line-height: 28px;
    text-transform: uppercase;
    color: #666;
}
#wysiwyg_link_browser .results .items .item:nth-child(even) .type {
    background: #f9f9f9;
}
#wysiwyg_link_browser .results .items .item:hover .type {
    background-color: #eaf2fa;
}

.mce-branding-powered-by {
    display: none !important;
}

footer.main {
    background-color: rgba(0, 0, 0, .7);
}

@media print {

    .no-print, .no-print * {
        display: none !important;
    }

}