.uccms_breadcrumbs {
    margin-bottom: 10px;
    font-size: 1.2em;
}
.uccms_breadcrumbs a {
    color: #777;
}
.uccms_breadcrumbs a:hover {
    color: #59A8E9;
}
.uccms_breadcrumbs a:last-child {
    font-weight: bold;
    color: #59A8E9;
}
.uccms_breadcrumbs .sep {
    display: inline-block;
    padding: 0 1px 0 2px;
    font-size: 1.5em;
    line-height: 0px;
    opacity: .3;
}