body #site_container {
    background-color: #f6f6f6;
}

#blogContainer {
    position: relative;
}
#blogContainer > .container {
    padding-top: 30px;
    padding-bottom: 30px;
}

#blogContainer .bold_heading {
    margin-bottom: 15px;
    font-weight: bold;
}

#blogContainer.w-sidebar .largeColumn {
    width: 75%;
}
#blogContainer.w-sidebar .smallColumn {
    width: 25%;
}
#blogContainer.w-sidebar.sidebar-left .largeColumn {
    float: right;
    padding-left: 30px;
}
#blogContainer.w-sidebar.sidebar-right .largeColumn {
    float: left;
    padding-right: 30px;
}
#blogContainer.w-sidebar .largeColumn .col_padding {
    padding: 30px;
    background-color: #fff;
}
#blogContainer.w-sidebar.sidebar-left .smallColumn {
    float: left;
}
#blogContainer.w-sidebar.sidebar-right .smallColumn {
    float: right;
}

/* PAGING */

#blogContainer .paging {
    text-align: right;
}
#blogContainer .paging.top {
    margin-bottom: 15px;
}
#blogContainer .paging.bottom {
    margin-top: 15px;
}
#blogContainer .paging span a {
    display: inline-block;
    padding: 1px 3px;
    font-size: 1em;
}
#blogContainer .paging span.active a {
    color: #333;
    font-weight: bold;
}

/* SIDEBAR */

#blogContainer .sidebar .widget {
    margin-bottom: 30px;
}
#blogContainer .sidebar .widget:last-child {
    margin-bottom: 0px;
}
#blogContainer .sidebar .widget h4 {
    margin: 0 0 1em 0;
}
#blogContainer .sidebar .widget input[type="text"] {
    width: 100%;
}
#blogContainer .sidebar .widget input[type="submit"] {
    width: 100%;
}
#blogContainer .sidebar .widget ul {
    margin: 0px;
    padding: 0 0 0 25px;
}
#blogContainer .sidebar .widget ul li {
    padding-bottom: 4px;
}
#blogContainer .sidebar .widget ul li:last-child {
    padding-bottom: 0px;
}
#blogContainer .sidebar .widget p:last-child {
    padding-bottom: 0px;
}

/* POSTS */

#blogContainer .largeColumn .col_padding > h1, #blogContainer .largeColumn .post > h1 {
    margin-top: 0px;
}
#blogContainer .largeColumn .col_padding > h1 {
    float: left;
    margin-bottom: 30px;
}

#blogContainer .posts {
    clear: left;
}
#blogContainer .posts .post {
    margin-bottom: 40px;
}
#blogContainer .posts .post:last-child {
    margin-bottom: 0px;
}
#blogContainer .posts .post .image.main {
    margin-bottom: 15px;
}
#blogContainer .posts .post h2 {
    margin-top: 0px;
}
#blogContainer .posts .post h3 {
    margin: 0;
    font-size: 1.4em;
}
#blogContainer .posts .post .meta {
    font-size: .8em;
    opacity: .7;
}
#blogContainer .posts .post .meta span {
    padding-right: 8px;
}
#blogContainer .posts .post .meta span:last-child {
    padding-right: 10px;
}
#blogContainer .posts .post .content {
    max-height: 200px;
    overflow: hidden;
    margin: 0px;
    padding-top: 15px;
}
#blogContainer .posts .post .content-fade {
    position: relative;
}
#blogContainer .posts .post .content-fade .background {
    position: absolute;
    width: 100%;
    height: 20px;
    top: -20px;
    left: 0px;
    /*
    background-image: url('/extensions/com.umbrella.blog/images/content-fade.png');
    background-repeat: repeat-x;
    */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;0+10,1+80 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(10%,rgba(255,255,255,0)), color-stop(80%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

/* V2 Posts */

#blogContainer .posts .post.v2 {
    position: relative;
    margin: 30px 0;
    border-bottom: 1px solid #f3f6f8;
}
#blogContainer .posts .post.v2:last-child {
    border-bottom: 0px none;
}
#blogContainer .posts .post.v2 .image.main {
    position: absolute;
    top: 0;
    bottom: 15px;
    width: 30%;
    float: left;
    padding: 0px;
}
#blogContainer .posts .post.v2 .image.main a {
    display: block;
    width: 100%;
    height: 100%;
    background: #f3f6f8 center center no-repeat;
    background-size: cover;
    border: 1px solid rgba(200, 215, 225, 0.5);
}
#blogContainer .posts .post.v2 .info {
    float: none;
    margin: 0 0 30px;
    padding: 0px;
}
#blogContainer .posts .post.v2 .info h1 {
    margin: 15px 0;
}
#blogContainer .posts .post.v2 .info h3 {
    margin: 0;
    font-size: 1.4em;
}
#blogContainer .posts .post.v2 .content {
    max-height: none;
    overflow: initial;
    margin: 15px 0;
    padding: 0;
}
#blogContainer .posts .post.v2 .info .meta {
    margin: 15px 0;
    font-size: .9em;
}
#blogContainer .posts .post.v2 .info .meta .author {
    float: left;
}
#blogContainer .posts .post.v2 .info .meta .date {
    float: right;
}
#blogContainer .posts .post.v2.with-image .info {
    margin: 0 0 30px calc(30% + 15px);
}

/* V3 Posts */

#blogContainer .posts .post.v3 {
    position: relative;
    margin: 0 0 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}
#blogContainer .posts .post.v3 > .contain > .row {
    display: flex;
}
#blogContainer .posts .post.v3:last-child {
    border-bottom: 0px none;
}
#blogContainer .posts .post.v3 .image.main {
    margin: 0px;
}
#blogContainer .posts .post.v3 .image.main a {
    display: block;
    width: 100%;
    height: 100%;
    background: transparent center center no-repeat;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, .1);
}
#blogContainer .posts .post.v3 .info {
}
#blogContainer .posts .post.v3 .info h1 {
    margin: 15px 0;
    font-size: 1.4em;
    font-weight: 500;
}
#blogContainer .posts .post.v3 .info h3 {
    margin: 0;
    font-size: 1.2em;
}
#blogContainer .posts .post.v3 .content {
    max-height: none;
    overflow: initial;
    margin: 15px 0;
    padding: 0;
}
#blogContainer .posts .post.v3 .info .meta {
    margin: 15px 0;
    font-size: .9em;
}
#blogContainer .posts .post.v3 .info .meta .author {
    float: left;
}
#blogContainer .posts .post.v3 .info .meta .date {
    float: right;
}




#blogContainer .noposts {
    clear: left;
}

/* MEDIA QUERIES */
@media screen and (max-width: 860px) {

    #blogContainer.w-sidebar .largeColumn {
        float: none;
        width: 100%;
        margin-bottom: 30px;
        padding: 0px;
    }
    #blogContainer.w-sidebar .smallColumn {
        float: none;
        width: 100%;
    }
    #blogContainer.w-sidebar.sidebar-right .largeColumn {
        padding-right: 0px;
    }
    #blogContainer.w-sidebar.sidebar-left .largeColumn {
        padding-left: 0px;
    }

}