#blogContainer .post > h1 {
    margin: 0 0 2px 0;
}
#blogContainer .post .meta {
    font-size: .8em;
    opacity: .7;
}
#blogContainer .post .image.main {
    margin-top: 15px;
}
#blogContainer .post .image.main img {
    width: 100%;
    height: auto;
}
#blogContainer .post .gallery {
}
#blogContainer .post .gallery .thumb {
    display: block;
    float: left;
    width: 25%;
    margin: 0 10px 10px 0;
}
#blogContainer .post .gallery .thumb:last-child {
    margin-right: 0px;
}
#blogContainer .post .content {
    margin-top: 15px;
}
#blogContainer .post .content img {
    width: 100%;
    height: auto;
}

#blogContainer .post .categories {
    margin-top: 15px;
}
#blogContainer .post .tags {
    margin-top: 15px;
}
#blogContainer .post .prev_next {
    margin-top: 15px;
    padding: 15px 20px;
    background-color: #999;
}
#blogContainer .post .prev_next a {
    color: #ccc;
}
#blogContainer .post .prev_next a:hover {
    color: #fff;
}
#blogContainer .post .prev_next .prev, #blogContainer .post .prev_next .next {
    width: 50%;
}
#blogContainer .post .prev_next .title {
    display: block;
    width: 90%;
    overflow: hidden;
    color: #fff;
}
#blogContainer .post .prev_next .prev {
    float: left;
}
#blogContainer .post .prev_next .next {
    float: right;
    text-align: right;
}
#blogContainer .post .prev_next .next .title {
    margin: 0 0 0 auto;
}

#blogContainer .post .comments {
    margin-top: 15px;
}

@media screen and (max-width: 680px) {

    #blogContainer .post .prev_next .prev, #blogContainer .post .prev_next .next {
        float: none;
        width: 100%;
        text-align: left;
    }
    #blogContainer .post .prev_next .next {
        margin-top: 10px;
    }
    #blogContainer .post .prev_next .next .title {
        margin: 0px;
    }

}