#eventsContainer .breadcrumbs {
    padding-bottom: 10px;
}

#eventsContainer .item_container fieldset {
    border: 0px;
}

#eventsContainer .item_container .grid .last{
    padding: 0px;
}
#eventsContainer .item_container .pad-top {
    padding-top: 15px;
}

#eventsContainer .item_container .images_container img {
    display: block;
}

#eventsContainer .item_container .images_container .thumbs .thumb {
    float: left;
    width: 18%;
    margin: 2% 2% 0 0;
    padding: 1px;
    line-height: 0em;
}

#eventsContainer .item_container h1 {
    margin: 0px;
    padding: 0px;
}
#eventsContainer .item_container h3 {
    margin: 0px;
}

#eventsContainer .item_container .repeats {
    font-size: .9em;
}

#eventsContainer .item_container .address_container .address span {
    display: block;
}

#eventsContainer .contact h3 {
    padding-bottom: 8px;
}
#eventsContainer .contact .site-message {
    display: none;
}
#eventsContainer .contact .site-message ul {
    display: block;
    margin: 0px;
    padding: 5px 0 0 20px;
    list-style: initial;
}
#eventsContainer .contact .site-message ul li:last-child, #eventsContainer .contact .site-message p:last-child {
    padding-bottom: 0px;
}
#eventsContainer .contact .field {
    padding-bottom: 6px;
}
#eventsContainer .contact .field input[type="text"] {
    width: 50%;
}
#eventsContainer .contact .buttons {
    padding-top: 4px;
}