#eventsContainer #form_control .grid [class*="col-"] {
    margin-right: 0px;
}
#eventsContainer #form_control .grid .right {
    float: right;
    text-align: right;
}
#eventsContainer #form_control input[name="q"] {
    width: 40%;
}
#eventsContainer #form_control .date_picker {
    width: 80px;
}

#eventsContainer .current {
    text-align: center;
}
#eventsContainer .current h2 {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}