#eventsContainer {
    position: relative;
}

/* ELEMENT: ITEM */

#eventsContainer .item_container {
    position: relative;
    margin: 0 -10px 0 -10px;
}

#eventsContainer .item_container .item {
    float: left;
    width: 222px;
    height: 206px;
    overflow: hidden;
    margin: 10px;
    border: 1px solid #ccc;
}

#eventsContainer .item_container .item .image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#eventsContainer .item_container .item .image a {
    display: block;
    height: 140px;
}

#eventsContainer .item_container .item .title {
    padding-top: 10px;
    text-align: center;
}

#eventsContainer .item_container .item .date {
    padding: 0 10px 10px 10px;
    text-align: center;
}

/* TIME PICKER */

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-div .ui_tpicker_unit_hide{ display: none; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

/* Shortened version style */
.ui-timepicker-div.ui-timepicker-oneLine { padding-right: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time,
.ui-timepicker-div.ui-timepicker-oneLine dt { display: none; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label { display: block; padding-top: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine dl { text-align: right; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd,
.ui-timepicker-div.ui-timepicker-oneLine dl dd > div { display:inline-block; margin:0; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before { content:':'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before { content:'.'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before{ display: none; }

/* MEDIA QUERIES */
@media screen and (min-width: 47.3em) {

    #eventsContainer .largeColumn.withSmallColumn {
        margin-right: 24em;
    }

    #eventsContainer .smallColumn {
        float: right;
        width: 23em;
    }

}