
<p style="color: #666; font-size: 14px;">
    The business listing for {business_name} has expired. Please use the link below to renew it.
    <br />
    <br />
    Manage your listing at: {listing_url}
</p>
