
<p style="color: #666; font-size: 14px;">
    The business listing for {business_name} expires in one week. Please use the link below after the expiration date to renew it.
    <br />
    <br />
    Expires: {expires_date}
    <br />
    <br />
    Manage your listing at: {listing_url}
</p>
