#propertiesContainer .search-box.horizontal .option input, .search-box.horizontal .option select {
    height: 32px;
}
#propertiesContainer .search-box.horizontal .option input[type="checkbox"] {
    height: auto;
}
#propertiesContainer .search-box.horizontal .submit input {
    padding: 6px 12px;
}
#propertiesContainer .properties.style-grid .property .info .title a {
    color: #222;
}
#propertiesContainer .properties.style-grid .property .info .more_button .button {
    padding: 6px 10px;
    letter-spacing: 0px;
}