
<p style="color: #666; font-size: 14px;">
    You, or someone else, has requested to reset your password.
    <br />
    <br />
    <a href="{reset_url}" target="_blank">Click here</a> to continue resetting your password, or if you do not authorize this email may be ignored.
</p>
