#myAccount .events {
    position: relative;
    margin: 0 -15px 0 -15px;
}
#myAccount .events .event {

}
#myAccount .events .event > .contain {
    height: 206px;
    overflow: hidden;
    margin: 10px;
    border: 1px solid #ccc;
}
#myAccount .events .event .image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#myAccount .events .event .image a {
    display: block;
    height: 140px;
}
#myAccount .events .event .title {
    padding-top: 10px;
    text-align: center;
}
#myAccount .events .event .date {
    padding: 0 10px 10px 10px;
    text-align: center;
}