
<p style="color: #666; font-size: 14px;">
    Renewal for listing {property_title} has failed.
    <br />
    <br />
    <strong>{transaction_info}</strong>
    <a href="{url_manage}" target="_blank" style="display: inline-block; padding: 5px 14px; background-color: #59a8e9; font-size: 14px; color: #ffffff; text-decoration: none; border-radius: 3px;">Edit Listing</a>
</p>
