#ecommContainer .cart_msg {
    margin-bottom: 15px;
    padding: 6px 10px;
    background-color: #f5f5f5;
}

#ecommContainer #cart td.quantity {
    font-size: 0.7em;
}

#ecommContainer #cart .sub.bold td {
    font-weight: bold;
}

#ecommContainer .coupon_input {
    margin-top: -25px;
    padding-top: 10px;
}
#ecommContainer .coupon_input .error {
    padding-top: 2px;
    font-size: .9em;
    color: #ff0000;
}

#ecommContainer .continue {
    padding-top: 20px;
}
#ecommContainer .continue .shopping {
    float: left;
}
#ecommContainer .continue .checkout {
    float: right;
    padding: 0 8px 0 0;
}