#ecommContainer .breadcrumbs {
    padding-bottom: 10px;
}

#ecommContainer .category_head {
    padding-bottom: 20px;
}

#ecommContainer .category_head img {
    float: left;
    width: 200px;
    margin-right: 20px;
}

#ecommContainer .category_head h1 {
    margin: 0px;
}

#ecommContainer .category_head .description {
    padding-top: 5px;
}

#ecommContainer .sub_categories {
    padding-bottom: 20px;
}

#ecommContainer .sub_categories h3 {
    margin: 0 0 5px 0;
}

#ecommContainer .sub_categories .sub {
    float: left;
    margin-right: 20px;
}

#ecommContainer .paging.sort {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    line-height: 1em;
}
#ecommContainer .paging.bottom {
    text-align: right;
}