#ecommContainer .half.left {
    width: 45%;
    min-width: 300px;
    margin-right: 10%;
}

#ecommContainer .contain .half.left:last-child {
    margin-right: 0px;
}

#ecommContainer h3 {
    margin-bottom: 0px;
}

#ecommContainer h4 {
    margin: 0 0 .2em 0;
}

#ecommContainer .contain.box {
    padding: 10px;
    border: 1px solid #ccc;
}

#ecommContainer fieldset {
    margin: 0 0 .6em 0;
    padding: 0px;
    border: 0px none;
}
#ecommContainer fieldset.last {
    margin-bottom: 0px;
}

#ecommContainer fieldset label {
    display: block;
}

#ecommContainer fieldset input[type="text"] {
    width: 98%;
}

#ecommContainer .section_padding {
    padding-top: 20px;
}

#ecommContainer .shipping_method ul.services {
    list-style: none;
    margin: 0px;
    padding: 0 0 0 10px;
}

#ecommContainer .shipping_method ul.services li {
    padding-bottom: 5px;
}
#ecommContainer .shipping_method ul.services li:last-child {
    padding-bottom: 0px;
}

#ecommContainer .shipping_method ul.services li .note {
    display: block;
    opacity: 0.8;
    padding-left: 25px;
    font-size: 0.9em;
    line-height: 1em;
}

#ecommContainer #cart .sub.shipping.with_after_tax td {
    padding-bottom: 10px;
}

#ecommContainer #cart .sub.total {
    font-weight: bold;
}

#ecommContainer .payment .method {
    padding-bottom: 5px;
}
#ecommContainer .payment .method:last-child {
    padding-bottom: 0px;
}

#ecommContainer .payment .method .info {
    padding: 5px 10px 0 10px;
}

#ecommContainer .notes textarea {
    width: 98%;
    height: 4em;
}

.quote_request {
    font-weight: bold;
}

/* MEDIA QUERIES */
@media screen and (max-width: 47.3em) {

    #ecommContainer .half.left {
        width: 100%;
    }

}