#ecommContainer .content {
    padding-bottom: 15px;
}

#ecommContainer .featured {
    padding-bottom: 15px;
}

#ecommContainer .featured h3, #ecommContainer .recent h3 {
    margin: 0 0 10px 0;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
}