#ecommContainer .breadcrumbs {
    padding-bottom: 10px;
}

#ecommContainer .item_container fieldset {
    border: 0px;
}

#ecommContainer .item_container .images_container, #ecommContainer .item_container .item_info {
    padding-bottom: 20px;
}

#ecommContainer .item_container .images_container .main a {
    display: none;
}
#ecommContainer .item_container .images_container .main a.active {
    display: block;
}

#ecommContainer .item_container .images_container .thumbs .thumb {
    float: left;
    width: 80px;
    margin: 6px 6px 0 0;
    padding: 1px;
    border: 1px solid transparent;
    line-height: 0em;
}

#ecommContainer .item_container .images_container .thumbs .thumb.active {
    border: 1px solid #444;
}

#ecommContainer .item_container h1.item-title {
    margin: 0px;
    padding-bottom: 10px;
}

#ecommContainer .item_container .price {
    padding-bottom: 15px;
    font-size: 1.2em;
    font-weight: bold;
}

#ecommContainer .item_container .description_short ul {
    margin-top: 0px;
    padding-left: 14px;
}

#ecommContainer .item_container .booking {
    padding-bottom: 15px;
}
#ecommContainer .item_container .booking .input {
    width: 160px;
}

#ecommContainer .item_container .attributes {
    padding-bottom: 15px;
}

#ecommContainer .item_container .attributes .attribute label {
    display: block;
}

#ecommContainer .item_container .attributes .attribute .description {
    font-size: .8em;
    color: #777;
}

#ecommContainer .item_container .attributes .attribute .limit {
    font-size: .8em;
    line-height: 1em;
    color: #ff0000;
}

#ecommContainer .item_container .attributes .attribute .options {
    padding-top: 3px;
}

#ecommContainer .item_container .attributes .attribute .options.select_box .option {
    float: left;
    margin: 0 5px 5px 0;
    border: 1px solid #aaa;
    text-align: center;
    cursor: pointer;
}
#ecommContainer .item_container .attributes .attribute .options.select_box .option .border2 {
    padding: 6px 10px;
}
#ecommContainer .item_container .attributes .attribute .options.select_box .option.selected {
    border-color: #777;
}
#ecommContainer .item_container .attributes .attribute .options.select_box .option.selected .border2 {
    padding: 5px 9px;
    border: 1px solid #777;
}
#ecommContainer .item_container .attributes .attribute .options.select_box .option .markup {
    font-size: .8em;
    opacity: .5;
}

#ecommContainer .item_container .attributes .attribute .reqd {
    padding-left: .15em;
}

#ecommContainer .item_container .attributes .attribute .files {
    padding-top: 8px;
}
#ecommContainer .item_container .attributes .attribute .files .remove {
    font-weight: bold;
}
#ecommContainer .item_container .attributes .attribute .input-group {
    margin-top: 5px;
}

#ecommContainer .item_container .qty {
    padding-bottom: 15px;
}

#ecommContainer .item_container .qty fieldset {
    margin: 0px;
    padding: 0px;
}

#ecommContainer .item_container .qty input {
    width: 60px;
}

#ecommContainer .item_container .site-messages {
    margin-top: 15px;
}
#ecommContainer .item_container .site-messages i {
    display: none;
}

#ecommContainer .item_container .description h3 {
    border-bottom: 1px solid #ccc;
    margin: 0 0 5px;
    padding-bottom: 4px;
}

.date-picker-wrapper.date-range-picker-custom .day.first-date-selected {
    background-color: #49e !important;
}
.date-picker-wrapper.date-range-picker-custom .day.last-date-selected {
    background-color: #49e !important
}


/** REVIEWS **/

#ecommContainer .item_container .reviews {
    position: relative;
}
#ecommContainer .item_container .reviews h3 {
    margin: 0px;
    padding: 0px;
}
#ecommContainer .item_container .uccms_ratings-reviews .add.top {
    position: absolute;
    top: 10px;
    right: 0px;
}
#ecommContainer .item_container .uccms_ratings-reviews .results {
    padding-top: 30px;
}
#ecommContainer .item_container .uccms_ratings-reviews .results .item {
    float: none;
    width: auto;
    height: auto;
    margin: 10px 0;
    border: 0px none;
    border-bottom: 1px dashed #ddd;
}
#ecommContainer .item_container .uccms_ratings-reviews .results .item .criteria .item {
    border: 0px none;
}
#ecommContainer .item_container .uccms_ratings-reviews .add-review {
    margin-top: 30px;
}
#ecommContainer .item_container .uccms_ratings-reviews .add-review .form {
    padding: 15px 20px;
}
#ecommContainer .item_container .uccms_ratings-reviews .add-review h4 {
    margin: 0 0 2px 0;
}
#ecommContainer .item_container .uccms_ratings-reviews .add-review .item {
    float: none;
    width: auto;
    height: auto;
    margin: 10px 0;
    border: 0px none;
}
#ecommContainer .item_container .uccms_ratings-reviews .item.stars a {
    display: inline-block;
    margin: 0 5px 0 0;
}
#ecommContainer .item_container .uccms_ratings-reviews .add-review .item.stars {
    margin-top: 0px;
}


/* MEDIA QUERIES */
@media screen and (min-width: 47.3em) {

    #ecommContainer .item_info {
        float: left;
        max-width: 330px;
        padding-left: 20px;
    }

    #ecommContainer .images_container {
        float: left;
        width: 26em;
    }

}