#ecommContainer {
    position: relative;
}

/* CART WIDGET */

#ecommContainer .cart_widget {
    padding-bottom: 25px;
}

#ecommContainer .cart_widget h3 {
    margin: 0 0 5px 0;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
}

/* CATEGORY NAVIGATION */

#ecommContainer .category_nav {
    padding-bottom: 25px;
}

#ecommContainer .category_nav h3 {
    margin: 0 0 5px 0;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
}

#ecommContainer .category_nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#ecommContainer .category_nav ul li {
    margin: 0px;
    padding: 0px;
}

#ecommContainer .category_nav ul li li {
    margin: 0px;
    padding: 0 0 0 10px;
}

#ecommContainer .category_nav ul li a {
    display: block;
    line-height: 32px;
}

#ecommContainer .category_nav li.active a {
    color: #555;
}

/* ELEMENT: ITEM */

#ecommContainer .item_container {
    position: relative;
    margin: 0 -10px 0 -10px;
}

#ecommContainer .item_container .item {
    float: left;
    width: 222px;
    height: 212px;
    overflow: hidden;
    margin: 10px;
    border: 1px solid #ccc;
}

#ecommContainer .item_container .item .image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#ecommContainer .item_container .item .image a {
    display: block;
    height: 130px;
}

#ecommContainer .item_container .item .title {
    padding: 10px;
    text-align: center;
}

#ecommContainer .item_container .item .price {
    padding: 0 10px 10px 10px;
    text-align: center;
}

/*
#ecommContainer .item_container .item > div:last-child {
    padding-bottom: 0px;
}
*/

/* CART */

#ecommContainer #cart {
    width: 100%;
}

#ecommContainer #cart th {
    border-bottom: 1px solid #eee;
}

#ecommContainer #cart .thumb {
    width: 10%;
    text-align: center;
}
#ecommContainer #cart .title {
    width: 50%;
    text-align: left;
}
#ecommContainer #cart .title .item_title {
    margin-bottom: 2px;
    font-weight: bold;
}
#ecommContainer #cart .price {
    width: 15%;
    text-align: left;
}
#ecommContainer #cart .quantity {
    width: 15%;
    text-align: left;
}
#ecommContainer #cart .total {
    width: 10%;
    text-align: right;
}

#ecommContainer #cart .item td {
    padding: 8px;
}

#ecommContainer #cart th.title {
    padding-left: 8px;
}
#ecommContainer #cart th.total {
    padding-right: 8px;
}
#ecommContainer #cart td.price {
    padding-left: 0px;
}
#ecommContainer #cart td.quantity {
    padding-left: 0px;
}

#ecommContainer #cart .item > td {
    border-bottom: 1px solid #eee;
}
/*
#ecommContainer #cart .item.quote {
    opacity: .5;
}
*/
#ecommContainer #cart .item .thumb {
    vertical-align: top;
}
#ecommContainer #cart .item .thumb img {
    height: 50px;
    max-width: 60px;
}
#ecommContainer #cart .item .booking {
    margin: 2px 0 4px;
    font-size: .9em;
}
#ecommContainer #cart .item .options {
    margin: 0px;
    padding: 0 0 0 15px;
    font-size: .8em;
}
#ecommContainer #cart .item .options ul {
    margin: 0px;
    padding: 0 0 0 15px;
}
#ecommContainer #cart .item .persons .person {
    margin-bottom: 2px;
    font-size: .8em;
    line-height: 1.2em;
}
#ecommContainer #cart .item .persons .person:last-child {
    margin-bottom: 0px;
}
#ecommContainer #cart .item .persons .person .label, #ecommContainer #cart .item .persons .person .input {
    float: left;
}
#ecommContainer #cart .item .persons .person .label {
    padding-right: 5px;
    opacity: .5;
}
#ecommContainer #cart .item .persons .person .input {
    padding-right: 5px;
    opacity: .7;
}
#ecommContainer #cart .item .persons .person .input.dob {
    padding-left: 5px;
}
#ecommContainer #cart .item .persons .person .input.email {
    padding-left: 5px;
}
#ecommContainer #cart .item .persons .person .input.notes {
    padding-left: 5px;
}
#ecommContainer #cart .item .backordered {
    font-size: .8em;
    color: #E74541;
}

/*
#ecommContainer #cart td.quantity {
    font-size: .8em;
}
*/
#ecommContainer #cart td.quantity input {
    width: 60px;
}

#ecommContainer #cart .sub {
}
#ecommContainer #cart .sub td {
    padding: 10px 8px 0 0;
}
#ecommContainer #cart .sub.right {
    float: none;
}
#ecommContainer #cart .sub.right td {
    text-align: right;
}
#ecommContainer #cart .sub.shipping td, #ecommContainer #cart .after_tax td {
    border-bottom: 1px solid #eee;
}
#ecommContainer #cart .sub.shipping td {
    padding-bottom: 5px;
}

#ecommContainer .have_quote_items {
    padding-top: 15px;
    text-align: center;
}

/* MESSAGE */

#ecommContainer .message.error {
    color: #ff0000;
}

/* TIME PICKER */

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-div .ui_tpicker_unit_hide{ display: none; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

/* Shortened version style */
.ui-timepicker-div.ui-timepicker-oneLine { padding-right: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time,
.ui-timepicker-div.ui-timepicker-oneLine dt { display: none; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label { display: block; padding-top: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine dl { text-align: right; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd,
.ui-timepicker-div.ui-timepicker-oneLine dl dd > div { display:inline-block; margin:0; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before { content:':'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before { content:'.'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before{ display: none; }

/* MEDIA QUERIES */
@media screen and (min-width: 47.3em) {

    #ecommContainer .largeColumn.withSmallColumn {
        margin-left: 17em;
    }

    #ecommContainer .smallColumn {
        float: left;
        width: 16em;
    }

}