#ecommContainer .message {
    padding-top: 10px;
}

#ecommContainer #review .heading .status {
    padding-right: 10px;
    text-align: right;
    line-height: 1em;
    text-transform: uppercase;
}

#ecommContainer #review .buttons {
    text-align: right;
}
#ecommContainer #review .buttons .button.accept {
    background-color: #4da46e;
}
#ecommContainer #review .buttons .button.accept:hover {
    background-color: #459464;
    color: #fff;
}
#ecommContainer #review .buttons .button.decline {
    background-color: #c0362f;
}
#ecommContainer #review .buttons .button.decline:hover {
    background-color: #AB312B;
    color: #fff;
}

#ecommContainer #review .decline_details {
    padding: 10px;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
}
#ecommContainer #review .decline_details textarea {
    width: 100%;
    height: 60px;
}
#ecommContainer #review .decline_details .buttons {
    text-align: right;
}

#ecommContainer #review .log {
    padding-top: 25px;
}
#ecommContainer #review .log h4 {
    margin: 0px;
    padding: 0;
}
#ecommContainer #review .log .item {
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    border-top: 1px solid #ccc;
}
#ecommContainer #review .log .item .info {
    padding-bottom: 4px;
    font-size: .8em;
    opacity: .8;
}
#ecommContainer #review .log .item .message {
    padding: 0px;
    font-size: .9em;
    opacity: .6;
}

#ecommContainer #review_right_col-expand {
    z-index: 999;
    position: fixed;
    top: 140px;
    right: 0px;
    background-color: #f9f9f9;
    border: 1px solid #bbb;
    border-right: 0px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: -2px 0 4px #ccc;
}
#ecommContainer #review_right_col-expand img {
    max-width: 45px;
    padding: 16px 6px;
    opacity: .6;
}
#ecommContainer #review_right_col-expand:hover img {
    opacity: .8;
}

#ecommContainer #review_right_col {
    z-index: 999;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 100%;
    overflow-y: scroll;
    margin-right: -14px;
    background-color: #f9f9f9;
    border-left: 1px solid #aaa;
    box-shadow: -2px 0 4px #ccc;
}

#ecommContainer #review_right_col .close {
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: 1.2em;
    font-weight: bold;
}

#ecommContainer #review_right_col .padding {
    padding: 30px 15px 15px;
}

#ecommContainer #review_right_col .message.error {
    padding: 0 0 10px 0;
}

#ecommContainer #review_right_col .top_balance {
    margin-bottom: 15px;
    font-size: 1.3em;
}
#ecommContainer #review_right_col .top_balance .button {
    display: inline-block;
    padding: 3px 8px;
    vertical-align: top;
    font-size: .6em;
    line-height: 1em;
    letter-spacing: 0px;
}

#ecommContainer #review_right_col .section {
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#ecommContainer #review_right_col .section h3 {
    margin: 0px;
    padding: 6px 8px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    font-size: .9em;
    font-weight: normal;
    color: inherit;
    text-transform: uppercase;
}
#ecommContainer #review_right_col .section.expand h3 {
    cursor: pointer;
}
#ecommContainer #review_right_col .section h3 i {
    float: right;
}
#ecommContainer #review_right_col .section.expand .expand_content.closed {
    display: none;
}
#ecommContainer #review_right_col .section > div.item, #ecommContainer #review_right_col .section tr.item > td {
    padding: 4px 8px;
    border-bottom: 1px solid #ccc;
}
#ecommContainer #review_right_col .section > .item:last-child, #ecommContainer #review_right_col .section tr.item:last-child > td {
    border-bottom: 0px none;
}

#ecommContainer #review_right_col .thanks {
    padding-bottom: 15px;
    font-weight: bold;
    color: #4da46e;
}

#ecommContainer #review_right_col .payment .title {
    white-space: nowrap;
}
#ecommContainer #review_right_col .payment .value {
    width: 100%;
}
#ecommContainer #review_right_col .payment .balance {
    font-weight: bold;
}

#ecommContainer #review_right_col .section div.payment_form {
    padding: 10px;
    border-top: 1px solid #ccc;
}
#ecommContainer #review_right_col .payment_form .amount {
    padding-bottom: 5px;
}
#ecommContainer #review_right_col .payment_form .amount input {
    width: 60px;
}

#ecommContainer #review_right_col .payment_form .method .info {
    padding: 5px 0 10px 7px;
}
#ecommContainer #review_right_col .payment_form .method fieldset:last-child {
    margin-bottom: 0px;
}

#ecommContainer #review_right_col .payment_form .submit {
    padding: 10px 5px 5px;
}
#ecommContainer #review_right_col .payment_form .submit img.credit-cards {
    float: left;
    max-width: 140px;
    margin-top: 3px;
    opacity: 0.6;
}
#ecommContainer #review_right_col .payment_form .submit .button {
    float: right;
    margin-top: 15px;
    padding: 5px 10px;
    background-color: #4da46e;
    border: 0px;
    cursor: pointer;
}
#ecommContainer #review_right_col .payment_form .submit .button:hover {
    background-color: #459464;
    color: #fff;
}

#ecommContainer #review_right_col .scheduled_payments .item {
    padding: 4px 8px;
    border-bottom: 1px solid #ccc;
}
#ecommContainer #review_right_col .scheduled_payments .item:last-child {
    border-bottom: 0px;
}
#ecommContainer #review_right_col .scheduled_payments .item .date {
    float: left;
    width: 40%;
}
#ecommContainer #review_right_col .scheduled_payments .item .amount {
    float: left;
    width: 40%;
    padding-left: 4px;
}
#ecommContainer #review_right_col .scheduled_payments .item .pay {
    float: left;
    width: 20%;
    text-align: right;
}
#ecommContainer #review_right_col .scheduled_payments .item .pay .button {
    display: inline-block;
    padding: 3px 8px;
    font-size: .8em;
    line-height: 1em;
    letter-spacing: 0px;
}
#ecommContainer #review_right_col .scheduled_payments .item .title {
    font-size: .7em;
    line-height: 1em;
    opacity: .5;
}

#ecommContainer #review_right_col .transactions td {
    padding: 3px 5px;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
}
#ecommContainer #review_right_col .transactions td:first-child, #ecommContainer #review_right_col .transactions td:last-child {
    padding-left: 8px;
}
#ecommContainer #review_right_col .transactions tr:last-child td {
    border-bottom: 0px none;
}
#ecommContainer #review_right_col .transactions .title {
    width: 40%;
}
#ecommContainer #review_right_col .transactions .time {
    line-height: 1em;
}
#ecommContainer #review_right_col .transactions .time {
    font-size: .7em;
    line-height: 1em;
    opacity: .5;
}
#ecommContainer #review_right_col .transactions .amount {
    width: 30%;
}
#ecommContainer #review_right_col .transactions .status {
    width: 30%;
    text-align: right;
}

/* MEDIA QUERIES */
@media screen and (max-width: 47.3em) {

    #ecommContainer #review_right_col {
        position: relative;
        width: 100%;
        height: auto;
        overflow-y: visible;
        margin-right: 0px;
        background-color: transparent;
        border: 0px none;
        box-shadow: 0px 0px 0px transparent;
    }

    #review_right_col .close {
        display: none;
    }

}