#ecommContainer .cart {
    padding-bottom: 20px;
}

#ecommContainer #cart tr td {
    background-color: transparent;
}
#ecommContainer #cart .item:last-child > td {
    border-bottom: 0px none;
}
#ecommContainer #cart .title {
    width: 50%;
}
#ecommContainer #cart .title .item_title {
    margin-bottom: 4px;
    font-weight: bold;
}
#ecommContainer #cart .item .persons {
    margin-top: 5px;
}
#ecommContainer #cart .item .persons .person {
    margin-bottom: 2px;
    font-size: .9em;
    line-height: 1.2em;
    opacity: .8;
}
#ecommContainer #cart .item .persons .person:last-child {
    margin-bottom: 0px;
}
#ecommContainer #cart .item .persons .person .label, #ecommContainer #cart .item .persons .person .input {
    float: left;
}
#ecommContainer #cart .item .persons .person .label {
    padding-right: 8px;
    opacity: .5;
}
#ecommContainer #cart .item .persons .person .input {
    padding-right: 5px;
}
#ecommContainer #cart .item .persons .person .input.dob {
    padding-left: 5px;
}
#ecommContainer #cart .item .persons .person .input.email {
    padding-left: 5px;
}
#ecommContainer #cart .item .persons .person .input.notes {
    padding-left: 5px;
    padding-bottom: 0px;
}
/*
#ecommContainer #cart .price {
    display: none;
}
*/
#ecommContainer #cart .quantity {
    width: 13.33%;
    text-align: right;
}
/*
#ecommContainer #cart .total {
    display: none;
}
*/

#ecommContainer #cart tr.group_heading td {
    background-color: #f5f5f5;
    font-size: 1.1em;
    opacity: .8;
}

#ecommContainer #cart .item .quantity {
    padding-right: 0px;
}
#ecommContainer #cart .item .price {
    padding-right: 0px;
}


#ecommContainer #cart .sub td.title {
    width: 100%;
    padding-right: 0px;
    text-align: right;
}
#ecommContainer #cart .sub td.value {
    padding-right: 8px;
    text-align: right;
    white-space: nowrap;
}
#ecommContainer #cart .sub td.value input {
    display: inline;
    width: 50px;
    height: auto;
    padding: 0 5px;
    text-align: right;
    line-height: 1.5em;
}
#ecommContainer #cart .sub .total {
    font-weight: bold;
}

#ecommContainer .half {
    width: 45%;
    min-width: 300px;
}
#ecommContainer .half.left {
    margin-right: 10%;
}
#ecommContainer .contain .half:last-child {
    margin-right: 0px;
}

#ecommContainer h3 {
    margin-bottom: 0px;
}
#ecommContainer h4 {
    margin: 0 0 .2em 0;
}

#ecommContainer .contain.box {
    padding: 10px;
    border: 1px solid #ccc;
}

#ecommContainer fieldset {
    margin: 0 0 .6em 0;
    padding: 0px;
    border: 0px none;
}
#ecommContainer fieldset.last {
    margin-bottom: 0px;
}
#ecommContainer fieldset label {
    display: block;
}
#ecommContainer fieldset input[type="text"] {
    width: 98%;
}
#ecommContainer fieldset.event_date input, #ecommContainer fieldset.service_time input {
    width: 100px;
}
#ecommContainer fieldset.event_notes textarea {
    width: 98%;
    height: 5em;
}

#ecommContainer .continue {
    padding-top: 20px;
    text-align: right;
}

/* REVIEW */

#ecommContainer #review #cart .left, #ecommContainer #review #cart .right {
    float: none;
}

#ecommContainer #review .heading {
    padding-top: 20px;
}
#ecommContainer #review .heading .half.left .quarter {
    width: auto;
}
#ecommContainer #review .heading .half.left .business_logo img {
    max-width: 160px;
    padding-right: 25px;
}
#ecommContainer #review .heading .half.left .store_name {
    font-size: 1.4em;
}
#ecommContainer #review .heading .half.left .store_address {
    padding: 3px 0 4px;
}
#ecommContainer #review .heading .half.right {
    text-align: center;
    font-size: 3em;
    line-height: 3em;
}
#ecommContainer #review .heading .half.right .buttons {
    font-size: 0.333em;
    line-height: 1em;
}
#ecommContainer #review .details {
    margin: 15px 0 10px;
    padding: 15px 0 10px;
    border-top: 1px solid #ccc;
}
#ecommContainer #review .details .left {
    width: 33%;
    margin-right: 0px;
}

#ecommContainer #review .details .contact .name {
    font-weight: bold;
}
#ecommContainer #review .details .contact .address1, #ecommContainer #review .details .contact .phone, #ecommContainer #review .details .contact .email {
    padding-top: 4px;
}

#ecommContainer #review .details .delivery .location1 {
    font-weight: bold;
}
#ecommContainer #review .details .delivery .address1, #ecommContainer #review .details .delivery .phone {
    padding-top: 4px;
}

#ecommContainer .notes {
    padding-bottom: 20px;
}

#ecommContainer .continue.clearfix {
    padding-top: 0px;
}
#ecommContainer .continue.clearfix .edit {
    float: left;
    padding-bottom: 10px;
    text-align: left;
}
#ecommContainer .continue.clearfix .submit {
    float: right;
}