#myAccount .section.agency_agent h4 {
    margin: 0 0 10px 0;
}
#myAccount .section.agency_agent img.main {
    float: left;
    max-width: 150px;
    margin-right: 15px;
}
#myAccount .section.agency_agent .name {
    font-weight: bold;
}
#myAccount .section.agency_agent .name .edit {
    font-size: .9em;
    font-weight: normal;
}
#myAccount .section.agency_agent .address {
    margin-top: 8px;
}
#myAccount .section.agency_agent .email {
    margin-top: 8px;
}