#myAccount .dashboard {
    position: relative;
}
#myAccount .dashboard .colSmall {
    position: relative;
    z-index: 2;
    width: 200px;
    float: left;
    background-color: #f5f5f5;
}
#myAccount .dashboard .colLarge-container {
    float: right;
    width: 100%;
    margin-left: -200px;
}
#myAccount .dashboard .colLarge {
    position: relative;
    z-index: 1;
    margin-left: 200px;
    padding-left: 25px;
}

#myAccount .dashboard .colLarge .section {
    margin-bottom: 40px;
}
#myAccount .dashboard .colLarge .section:last-child {
    margin-bottom: 0px;
}

#myAccount .dashboard .colSmall .infobox {
    margin-bottom: 15px;
}
#myAccount .dashboard .colSmall .infobox .name {
    padding: 10px 15px 0;
    font-weight: bold;
    opacity: .7;
}
#myAccount .dashboard .colSmall .infobox img.main {
    margin-top: 5px;
}
#myAccount .dashboard .colSmall .nav ul {
    margin: 0 0 15px 0;
    padding: 0px;
    list-style: none;
}
#myAccount .dashboard .colSmall .nav ul li {
    margin: 0px;
    padding: 0px;
}
#myAccount .dashboard .colSmall .nav ul li a {
    display: block;
    margin: 0px;
    padding: 5px 15px;
}
#myAccount .dashboard .colSmall .nav ul li.active a {
    color: #333;
}
#myAccount .dashboard .colSmall .nav ul li a .num {
    display: inline-block;
    margin-left: 6px;
    color: #333;
}
#myAccount .dashboard .colSmall .nav ul li a .num.new {
    color: #e53935;
}

/* TOP STATS */

#myAccount .dashboard .section.top_stats {
    margin-bottom: 25px;
}

#myAccount .dashboard .section.top_stats .stat {
    float: left;
    width: 25%;
    text-align: center;
}
#myAccount .dashboard .section.top_stats .stat .padding {
    min-width: 150px;
    margin: 0 0 10px;
    padding: 20px 20px 15px;
    background-color: #f5f5f5;
    border-right: 1px solid #fff;
    text-align: center;
}
#myAccount .dashboard .section.top_stats .stat:last-child .padding {
    border-right: 0px none;
}
#myAccount .dashboard .section.top_stats .stat .num {
    display: block;
    font-size: 1.6em;
}
#myAccount .dashboard .section.top_stats .stat .title {
    display: block;
    margin-top: 5px;
    font-size: 1.1em;
    font-weight: bold;
}
#myAccount .dashboard .section.top_stats .stat .period {
    display: block;
    margin-top: 2px;
    opacity: .7;
}

/** REVIEWS **/

#myAccount .section.reviews .heading-main {
    margin-bottom: 10px;
}
#myAccount .section.reviews .heading-main h4 {
    float: left;
    margin: 0px;
}
#myAccount .section.reviews .heading-main a.add {
    float: right;
}
#myAccount .section.reviews .heading-main .paging {
    float: right;
}
#myAccount .section.reviews .pages.bottom {
    margin-top: 10px;
    text-align: right;
}

/** LISTINGS **/

#myAccount .section.listings .heading-main {
    margin-bottom: 10px;
}
#myAccount .section.listings .heading-main h4 {
    float: left;
    margin: 0px;
}
#myAccount .section.listings .heading-main a.add {
    float: right;
}
#myAccount .section.listings .properties .property {
    margin-bottom: 20px;
    padding: 10px;
}
#myAccount .section.listings .properties .property:nth-child(odd) {
    background-color: #f5f5f5;
}
#myAccount .section.listings .properties .property:last-child {
    margin-bottom: 0px;
}
#myAccount .section.listings .properties .property .image {
    float: left;
    width: 150px;
    margin-right: 15px;
    text-align: center;
}
#myAccount .section.listings .properties .property .image img {
    display: block;
    width: 100%;
    height: auto;
}
#myAccount .section.listings .properties .property .image .num {
    font-size: .8em;
}
#myAccount .section.listings .properties .property .main {
    float: left;
}
#myAccount .section.listings .properties .property .main .title {
    font-size: 1.2em;
    margin-bottom: 5px;
}
#myAccount .section.listings .properties .property .main .address {
    margin-bottom: 5px;
}
#myAccount .section.listings .properties .property .main .price {
    margin-bottom: 5px;
}
#myAccount .section.listings .properties .property .main .quick .item {
    float: left;
    margin-right: 15px;
    opacity: .5;
}
#myAccount .section.listings .properties .property .main .quick .item i {
    margin-right: 5px;
}
#myAccount .section.listings .properties .property .main .stats {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 10px;
    border: 1px solid #ddd;
}
#myAccount .section.listings .properties .property .main .stats h4 {
    margin: 0px;
}
#myAccount .section.listings .properties .property .main .stats .group {
    float: left;
    margin-right: 30px;
}
#myAccount .section.listings .properties .property .main .stats .group:last-child {
    margin-right: 0px;
}
#myAccount .section.listings .properties .property .main .stats .group .stat {
    float: left;
    margin-right: 15px;
}
#myAccount .section.listings .properties .property .main .stats .group .stat:last-child {
    margin-right: 0px;
}
#myAccount .section.listings .properties .property .buttons {
    float: right;
}
#myAccount .section.listings .properties .property .buttons .button {
    display: block;
    margin-bottom: 6px;
    padding: 5px 10px 4px;
    text-align: center;
    letter-spacing: 0px;
}
#myAccount .section.listings .properties .property .buttons .button:last-child {
    margin-bottom: 0px;
}
#myAccount .section.listings .properties .property .buttons .button.view {
    background-color: #90caf9;
}
#myAccount .section.listings .properties .property .buttons .button.edit {
    background-color: #00c05d;
}
#myAccount .section.listings .properties .property .buttons .button.delete {
    background-color: #e53935;
}

#myAccount .section.listings .no_listings {
}

/** RESPONSIVE **/

@media screen and (min-width: 680px) {

    /*
    #myAccount .dashboard .colSmall {
        position: absolute;
        top: 0;
        left: 0;
        width: 175px;
    }
    #myAccount .dashboard .colLarge {
        margin-left: 175px;
        padding-left: 20px;
    }
    */

}