#myAccount .section.property h3 {
    margin-bottom: 4px;
}
#myAccount .section.property .tabs1 {
}
#myAccount .section.property .tabs1 .nav {
    margin: 0px;
    padding: 0px;
    background-color: #eee;
    list-style: none;
}
#myAccount .section.property .tabs1 .nav li {
    display: inline-block;
}
#myAccount .section.property .tabs1 .nav li::after {
    font-size: 1em;
    display: inline-block;
    font-family: FontAwesome;
    content: "\f105";
}
#myAccount .section.property .tabs1 .nav li:last-child::after {
    content: "";
}
#myAccount .section.property .tabs1 .nav a {
    display: inline-block;
    padding: 8px 14px 8px 10px;
}
#myAccount .section.property .tabs1 .nav li:first-child a {
    padding-left: 20px;
}
#myAccount .section.property .tabs1 .nav a i {
    padding-right: 6px;
}
#myAccount .section.property .tabs1 .nav a.active {
    color: #333;
    cursor: default;
}
#myAccount .section.property .tabs1 .content {
    padding: 20px 0;
}
#myAccount .section.property .tabs1 .content .group {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #fafafa;
}
#myAccount .section.property .tabs1 .content .group:last-child {
    margin-bottom: 0px;
}
#myAccount .section.property .tabs1 .content .left {
    float: left;
}
#myAccount .section.property .tabs1 .content .right {
    float: left;
}
#myAccount .section.property .tabs1 .content .left.half, #myAccount .section.property .tabs1 .content .right.half {
    width: 50%;
}
#myAccount .section.property .tabs1 .content label.for-checkbox {
    display: inline-block;
}
#myAccount .section.property .tabs1 .content ul {
    margin: 0px;
    padding: 0px;
}
#myAccount .section.property .tabs1 .content ul li {
    margin: 0 0 10px 0;
    padding: 0px;
}
#myAccount .section.property .tabs1 .content ul li:last-child {
    margin-bottom: 0px;
}

/** TAB: ATTRIBUTES **/

#tab-attributes {
    position: relative;
}

#tab-attributes .add_item {
    padding-bottom: 10px;
    text-align: right;
    border-bottom: 1px solid #ccc;
}
#tab-attributes .add_item .add_container {
    display: none;
}
#tab-attributes .add_item .add_container .button {
    padding: 10px 25px 25px;
}

#tab-attributes ul.items li.item {
    height: auto;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    line-height: 1.2em;
}
#myAccount .section.property .tabs1 .content #tab-attributes ul.items li.item {
    padding: 15px;
}
#tab-attributes ul.items li.item:nth-child(odd) {
    background-color: #f5f5f5;
}
#tab-attributes ul.items li.item:last-child {
    border-bottom: 0px none;
}
#tab-attributes ul.items li.item table {
    margin: 0px;
    border: 0px none;
}
#tab-attributes .item .heading td {
    padding: 0px;
}
#tab-attributes .item .heading .icon_sort {
    margin-top: 0px;
}
#tab-attributes .item .heading .toggle a {
    display: block;
}
#tab-attributes .item .heading .toggle a i {
    float: right;
    font-size: 1.2em;
}
#tab-attributes .item .heading .collapse_info .what {
    color: #bbb;
}
#tab-attributes .item .expand_content {
    display: none;
    margin-top: 10px;
    padding: 10px 0 10px;
    border-top: 1px solid #e5e5e5;
}
#tab-attributes .item .delete {
    float: right;
    text-align: right;
}
#tab-attributes .item .delete a {
    color: #e53935;
}
#tab-attributes .item .expand_content .attribute {
    width: 100%;
    margin-bottom: 10px;
}
#tab-attributes .item .expand_content .attribute:last-child {
    margin-bottom: 0px;
}
#tab-attributes .item .expand_content .attribute label {
    margin-bottom: 2px;
    font-weight: bold;
}
#tab-attributes .item .expand_content .attribute > .options {
    padding: 10px;
    background-color: #f7f7f7;
}
#tab-attributes .item .expand_content .attribute > .options .options:after {
    content:" ";
    display:block;
    clear:both;
}
#tab-attributes .item .expand_content .attribute .options .option {
    clear: both;
}
#tab-attributes .item .expand_content .attribute.checkbox .options .option {
    padding-bottom: 4px;
}
#tab-attributes .item .expand_content .attribute.checkbox .options .option:last-child {
    padding-bottom: 0px;
}
#tab-attributes .item .expand_content .attribute.file .files .remove {
    color: #C0362F;
}

#agroup-new table td {
    padding: 0 10px 0 0;
}

/** TAB: IMAGES **/

#tab-images .add {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    text-align: right;
}
#tab-images .add_item {
    display: none;
    padding: 10px 0;
    text-align: left;
    border-bottom: 1px solid #ccc;
}
#tab-images .add_item .add_container .upload {
    float: left;
    margin-right: 20px;
}
#tab-images .add_item .add_container .title {
    float: left;
    margin-right: 20px;
}
#tab-images .add_item .add_container .buttons {
    float: left;
}

#tab-images .items .item {
    padding: 10px;
}
#tab-images .items .item:nth-child(odd) {
    background-color: #f5f5f5;
}
#tab-images .items .item .sort {
    float: left;
    margin-right: 20px;
    font-size: 1.2em;
    cursor: move;
}
#tab-images .items .item .image {
    margin-right: 20px;
    float: left;
}
#tab-images .items .item .image img {
    max-width: 250px;
}
#tab-images .items .item .title {
    float: left;
    width: 370px;
    margin-right: 20px;
}
#tab-images .items .item .title .upload {
    margin-top: 15px;
}
#tab-images .items .item .buttons {
    float: right;
    font-size: 1.2em;
}
#tab-images .items .item .buttons .delete {
    color: #e53935;
}

/** TAB: VIDEOS **/

#tab-videos .add {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    text-align: right;
}
#tab-videos .add_item {
    display: none;
    padding: 10px 0;
    text-align: left;
    border-bottom: 1px solid #ccc;
}
#tab-videos .add_item .add_container input[type="text"] {
    width: 300px;
}
#tab-videos .add_item .add_container .upload {
    float: left;
    margin-right: 20px;
}
#tab-videos .add_item .add_container .title {
    float: left;
    margin-right: 20px;
}
#tab-videos .add_item .add_container .buttons {
    float: left;
}

#tab-videos .items .item {
    padding: 10px;
}
#tab-videos .items .item:nth-child(odd) {
    background-color: #f5f5f5;
}
#tab-videos .items .item input[type="text"] {
    width: 300px;
}
#tab-videos .items .item .sort {
    float: left;
    margin-right: 20px;
    font-size: 1.2em;
    cursor: move;
}
#tab-videos .items .item .video {
    margin-right: 20px;
    float: left;
}
#tab-videos .items .item .video img {
    max-width: 250px;
}
#tab-videos .items .item .title {
    float: left;
    width: 370px;
    margin-right: 20px;
}
#tab-videos .items .item .title .upload {
    margin-top: 15px;
}
#tab-videos .items .item .buttons {
    float: right;
    font-size: 1.2em;
}
#tab-videos .items .item .buttons .delete {
    font-size: 1.2em;
    color: #e53935;
}

/** TAB: ROOMS **/

#tab-rooms .add {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    text-align: right;
}
#tab-rooms .add_item {
    display: none;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}
#tab-rooms .add_item .add_container {
    position: relative;
}

#tab-rooms .items .item {
    height: auto;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    line-height: 1.2em;
}
#tab-rooms .items .item:nth-child(odd) {
    background-color: #f5f5f5;
}
#tab-rooms .items .item table {
    margin: 0px;
    border: 0px none;
}
#tab-rooms .items .item .heading td {
    padding: 0px;
}
#tab-rooms .items .item .heading .sort {
    padding: 0 50px 0 0;
    cursor: move;
}
#tab-rooms .items .item .heading .toggle {
    text-align: right;
    font-size: 1.2em;
}
#tab-rooms .items .item .heading .collapse_info .what {
    color: #bbb;
}
#tab-rooms .items .item .expand_content {
    position: relative;
    display: none;
    margin-top: 10px;
    border-top: 1px solid #e5e5e5;
}
#tab-rooms .items .item .expand_content label {
    display: block;
}
#tab-rooms .items .item .expand_content .delete {
    position: absolute;
    top: 8px;
    right: 0px;
    font-size: 1.2em;
    color: #e53935;
}
#tab-rooms .items .item .expand_content .checkboxes .opt label {
    display: inline-block;
}
#tab-rooms .items .item .expand_content .options-1 {
    margin-top: 10px;
}
#tab-rooms .items .item .expand_content .options-1 .opt {
    float: left;
    margin-right: 20px;
}
#tab-rooms .items .item .expand_content .options-2 {
    margin-top: 10px;
}
#tab-rooms .items .item .expand_content .options-2 .col {
    float: left;
    margin-right: 40px;
}
#tab-rooms .items .item .expand_content .description {
    margin-top: 10px;
}
#tab-rooms .items .item .expand_content .shared {
    margin-top: 10px;
}

#tab-rooms .add_item .items .item {
    border-bottom: 0px none;
    background-color: transparent;
}
#tab-rooms .add_item .items .item .expand_content {
    display: block;
    border: 0px none;
}
#tab-rooms .add_item .buttons {
    position: absolute;
    bottom: 12px;
    right: 0px;
}

#tab-rooms .items .item.ui-sortable-helper {
    height: 44px;
    background-color: #fcffdf;
}
.room-sortable-placeholder {
    height: 44px;
    background-color: #fafafa;
}

/** STATUS **/

#tab-status .status {
    margin-bottom: 15px;
}
#tab-status .paying-info {
    margin-bottom: 15px;
}
#tab-status .payment-form {
    margin-bottom: 15px;
}

#tab-status .transactions h4 {
    margin: 25px 0 10px 0;
}
#tab-status .transactions th {
    text-align: left;
}
#tab-status .transactions .transactions_content {
    display: none;
}
