//colors
// $color_primary: #43b4ae;
$color_primary: #00C2B8;

$alabaster: #fafafa;
$color_mountain_mist_approx: #999;
$color_shark_approx: #212529;
$white: #fff;
$black_60: rgba(0, 0, 0, .6);
$color_storm_dust_approx: #666;
$black_2_5: rgba(0, 0, 0, .025);
$black_10: rgba(0, 0, 0, 0.1);
$color_alto_approx: #ddd;
$white_70: rgba(255, 255, 255, .7);
$color_gallery_approx: #eee;
$color_celeste_approx: #ccc;

// $color_mine_shaft_approx: #333;
$color_text: #3E4953;

$color_tundora_approx: #444;
$concrete: #f2f2f2;
$color_saffron_approx: #fbc02d;
$color_red: #F25F5C;
$white_10: rgba(255, 255, 255, .1);
$white_92: rgba(255, 255, 255, .92);
$color_mirage_approx: #191e23;
$white_8: rgba(255, 255, 255, .08);
$white_60: rgba(255, 255, 255, .6);
$color_chetwode_blue_approx: #7386d5;
$color_moody_blue_approx: #6d7fcc;
$black_5: rgba(0, 0, 0, .05);
$black_70: rgba(0, 0, 0, .70);
$black_6: rgba(0, 0, 0, .06);
$white_20: rgba(255, 255, 255, .2);
$black_30: rgba(0, 0, 0, .3);
$black_25: rgba(0, 0, 0, .25);
$color_pink_swan_approx: #bbb;
$black_15: rgba(0, 0, 0, 0.15);
$black_50: rgba(0, 0, 0, .5);
$black_80: rgba(0, 0, 0, .8);

// $color_jade_approx: #00c05d;
// $color_algae_green_approx: #85eeb8;
$color_green: #97BB26;
$color_jade_approx: $color_green;
$color_algae_green_approx: $color_green;

$color_picton_blue_approx: #59a8e9;
$color_viking_approx: #4dd0e1;
$color_yellow_orange_approx: #f9bb44;
$color_athens_gray_50_approx: rgba(236, 239, 241, .5);
$black_12_5: rgba(0,0,0,.125);
$color_mine_shaft_90_approx: rgba(51,51,51,0.9);
$color_fuscous_gray_approx: #555;
$color_wild_sand_approx: #f5f5f5;
$color_alabaster_approx: #fcfcfc;




// gradients
// @mixin gradient_primary {
// 	@include linear-gradient(#00B9AF, #54BDCC, 90);
// }

