@mixin linear-gradient($from:#fff, $to:#fff, $deg: 0 ) {
	@if $deg == 0 {
	  	background: $to;
		background: -moz-linear-gradient(top, $from 0%, $to 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
		background: -webkit-linear-gradient(top, $from 0%,$to 100%);
		background: -o-linear-gradient(top, $from 0%,$to 100%);
		background: linear-gradient(to bottom, $from 0%,$to 100%);
		// filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
	}
	@if $deg == 90 {
	  	background: $to;
		background: -moz-linear-gradient(left, $from 0%, $to 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,$from), color-stop(100%,$to));
		background: -webkit-linear-gradient(left, $from 0%,$to 100%);
		background: -o-linear-gradient(left, $from 0%,$to 100%);
		background: linear-gradient(to right, $from 0%,$to 100%);
		// filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
	}
}




@mixin uico (){
  // /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'uico' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  // /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}