/*
Error: Invalid CSS after "...vity_container"": expected selector or at-rule, was ".search_paging ..."
        on line 1056 of /Users/nakrill/Documents/odesk/Umbrella/ucdev/custom/admin/scss/scss2/dashboard.scss

1051: @import "components/nav.main";
1052: 
1053: @import "components/activity_container"
1054: 
1055: 
1056: .search_paging .form_search {
1057:     font-size: .8em;
1058: }
1059: footer.main {
1060:     position: relative;
1061:     padding: 15px 0;

Backtrace:
/Users/nakrill/Documents/odesk/Umbrella/ucdev/custom/admin/scss/scss2/dashboard.scss:1056
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1166:in `expected'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:43:in `parse'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
org/jruby/RubyMethod.java:128:in `call'
file:/Applications/compass.app/Contents/Java/compass-app.jar!/hook/compass_patch.rb:108:in `update_stylesheet'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
org/jruby/RubyArray.java:1613:in `each'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `watch'
org/jruby/RubyProc.java:271:in `call'
/Applications/compass.app/Contents/Resources/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/listener.rb:252:in `on_change'
/Applications/compass.app/Contents/Resources/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/listener.rb:290:in `initialize_adapter'
org/jruby/RubyProc.java:271:in `call'
/Applications/compass.app/Contents/Resources/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/adapter.rb:252:in `report_changes'
/Applications/compass.app/Contents/Resources/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/adapter.rb:321:in `poll_changed_directories'
/Applications/compass.app/Contents/Resources/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/adapter.rb:297:in `start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...vity_container\"\": expected selector or at-rule, was \".search_paging ...\"\A         on line 1056 of /Users/nakrill/Documents/odesk/Umbrella/ucdev/custom/admin/scss/scss2/dashboard.scss\A \A 1051: @import \"components/nav.main\";\A 1052: \A 1053: @import \"components/activity_container\"\A 1054: \A 1055: \A 1056: .search_paging .form_search {\A 1057:     font-size: .8em;\A 1058: }\A 1059: footer.main {\A 1060:     position: relative;\A 1061:     padding: 15px 0;"; }
