#myAccount .section.business h3 {
    margin: 0 0 5px 0;
}
#myAccount .section.business .tabs1 {
}
#myAccount .section.business .tabs1 .nav {
    margin: 0px;
    padding: 0px;
    background-color: #eee;
    list-style: none;
}
#myAccount .section.business .tabs1 .nav li {
    display: inline-block;
}
#myAccount .section.business .tabs1 .nav li::after {
    font-size: 1em;
    display: inline-block;
    font-family: FontAwesome;
    content: "\f105";
}
#myAccount .section.business .tabs1 .nav li:last-child::after {
    content: "";
}
#myAccount .section.business .tabs1 .nav a {
    display: inline-block;
    padding: 8px 14px 8px 10px;
}
#myAccount .section.business .tabs1 .nav li:first-child a {
    padding-left: 20px;
}
#myAccount .section.business .tabs1 .nav a i {
    padding-right: 6px;
}
#myAccount .section.business .tabs1 .nav a.active {
    color: #333;
    cursor: default;
}
#myAccount .section.business .tabs1 .content {
    padding: 20px 0;
}
#myAccount .section.business .tabs1 .content .group {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #fafafa;
}
#myAccount .section.business .tabs1 .content .group:last-child {
    margin-bottom: 0px;
}
#myAccount .section.business .tabs1 .content .left {
    float: left;
    padding-right: 10px;
}
#myAccount .section.business .tabs1 .content .right {
    float: left;
    padding-left: 10px;
}
#myAccount .section.business .tabs1 .content .left.half, #myAccount .section.business .tabs1 .content .right.half {
    width: 50%;
    margin-bottom: 15px;
}
#myAccount .section.business .tabs1 .content .group > h4 {
    margin: 0 0 10px 0;
}
#myAccount .section.business .tabs1 .content label.for_checkbox {
    display: inline-block;
}
#myAccount .section.business .tabs1 .content ul {
    margin: 0px;
    padding: 0px;
}
#myAccount .section.business .tabs1 .content ul li {
    margin: 0 0 10px 0;
    padding: 0px;
}
#myAccount .section.business .tabs1 .content ul li:last-child {
    margin-bottom: 0px;
}
#myAccount .section.business .tabs1 .content .checkboxes .checkbox_item {
    float: left;
    width: 50%;
    padding-bottom: 8px;
}
#myAccount .section.business .tabs1 .content .checkboxes .checkbox_item label {
    display: inline-block;
    margin: 0px;
    font-weight: normal;
}

#myAccount .section.business .tabs1 .content .icon_sort {
    background: rgba(0, 0, 0, 0) url('/admin/images/icon-sprite.svg') repeat scroll -432px -80px;
    cursor: move;
    display: block;
    float: left;
    height: 24px;
    margin: 0 0 0 -7px;
    width: 24px;
}
#myAccount .section.business .tabs1 .content .icon_delete, #myAccount .section.business .tabs1 .content .icon_dialog_delete {
    background: rgba(0, 0, 0, 0) url('/admin/images/icon-sprite.svg') repeat scroll -312px -80px;
    display: inline-block;
    height: 24px;
    width: 24px;
}

#myAccount .section.business .tabs1 .content .currently {
    height: 100px;
    margin: 0;
    padding: 0;
    width: 150px;
}
#myAccount .section.business .tabs1 .content .currently .remove_resource {
    background: rgba(0, 0, 0, 0) url("/admin/images/icon-sprite.svg") repeat scroll -336px -140px;
    display: block;
    height: 16px;
    margin: -3px 0 -10px 139px;
    position: relative;
    width: 16px;
}
#myAccount .section.business .tabs1 .content .currently_wrapper {
    height: 100px;
    overflow: hidden;
    width: 150px;
}
#myAccount .section.business .tabs1 .content .currently label {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    color: #eee;
    display: block;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    margin: -20px 0 0;
    padding: 0 5px;
    position: relative;
    width: 100%;
}
#myAccount .section.business .tabs1 .content .currently img {
    width: 150px;
}

/** TAB: ATTRIBUTES

#tab-attributes {
    position: relative;
}

#tab-attributes .add_item {
    padding-bottom: 10px;
    text-align: right;
    border-bottom: 1px solid #ccc;
}
#tab-attributes .add_item .add_container {
    display: none;
}
#tab-attributes .add_item .add_container .button {
    padding: 10px 25px 25px;
}

#tab-attributes ul.items li.item {
    height: auto;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    line-height: 1.2em;
}
#myAccount .section.business .tabs1 .content #tab-attributes ul.items li.item {
    padding: 15px;
}
#tab-attributes ul.items li.item:nth-child(odd) {
    background-color: #f5f5f5;
}
#tab-attributes ul.items li.item:last-child {
    border-bottom: 0px none;
}
#tab-attributes ul.items li.item table {
    margin: 0px;
    border: 0px none;
}
#tab-attributes .item .heading td {
    padding: 0px;
}
#tab-attributes .item .heading .icon_sort {
    margin-top: 0px;
}
#tab-attributes .item .heading .toggle a {
    display: block;
}
#tab-attributes .item .heading .toggle a i {
    float: right;
    font-size: 1.2em;
}
#tab-attributes .item .heading .collapse_info .what {
    color: #bbb;
}
#tab-attributes .item .expand_content {
    display: none;
    margin-top: 10px;
    padding: 10px 0 10px;
    border-top: 1px solid #e5e5e5;
}
#tab-attributes .item .delete {
    float: right;
    text-align: right;
}
#tab-attributes .item .delete a {
    color: #e53935;
}
#tab-attributes .item .expand_content .attribute {
    width: 100%;
    margin-bottom: 10px;
}
#tab-attributes .item .expand_content .attribute:last-child {
    margin-bottom: 0px;
}
#tab-attributes .item .expand_content .attribute label {
    margin-bottom: 2px;
    font-weight: bold;
}
#tab-attributes .item .expand_content .attribute > .options {
    padding: 10px;
    background-color: #f7f7f7;
}
#tab-attributes .item .expand_content .attribute > .options .options:after {
    content:" ";
    display:block;
    clear:both;
}
#tab-attributes .item .expand_content .attribute .options .option {
    clear: both;
}
#tab-attributes .item .expand_content .attribute.checkbox .options .option {
    padding-bottom: 4px;
}
#tab-attributes .item .expand_content .attribute.checkbox .options .option:last-child {
    padding-bottom: 0px;
}
#tab-attributes .item .expand_content .attribute.file .files .remove {
    color: #C0362F;
}

#agroup-new table td {
    padding: 0 10px 0 0;
}

/** STATUS

#tab-status .status {
    margin-bottom: 15px;
}
#tab-status .paying-info {
    margin-bottom: 15px;
}
#tab-status .payment-form {
    margin-bottom: 15px;
}

#tab-status .transactions h4 {
    margin: 25px 0 10px 0;
}
#tab-status .transactions th {
    text-align: left;
}
#tab-status .transactions .transactions_content {
    display: none;
}

**/

@media screen and (max-width: 767px) {

    #myAccount .section.business .tabs1 .content .left {
        float: none;
        margin-bottom: 15px;
        padding: 0px;
    }
    #myAccount .section.business .tabs1 .content .right {
        float: none;
        margin-bottom: 15px;
        padding: 0px;
    }

    #myAccount .section.business .tabs1 .content .checkboxes .checkbox_item {
        float: none;
        width: 100%;
    }
    #myAccount .section.business .tabs1 .content .checkboxes .checkbox_item:last-child {
        padding: 0px;
    }

}