.btn {
	font-size: 14px; font-weight: 500; border-radius: 3px;
	&.disabled,
	&:disabled { opacity: .3; pointer-event: none; }
}


.btn-primary {
    // background-color: $color_primary;
    // @include gradient_primary;
    @include linear-gradient(#00B9AF, #54BDCC, 90);
    box-shadow: 0 7px 10px -7px #00C4B9;
    border: none;
    color: $white;
    &:hover {
    	box-shadow: 0 5px 10px -5px #00C4B9;
        @include linear-gradient( lighten(#00B9AF, 2%), lighten(#54BDCC, 2%), 90);
    }
}


.button {
    background-color: $color_primary;
    border: 0;
    color: $white;
    &.blue {
        background-color: $color_primary;
        border: 0;
        color: $white;
        &:hover {
            background-color: $black_60;
        }
    }
    &:hover {
        background-color: $black_60;
    }
    span {
        filter: contrast(0) brightness(100);
    }
}


.btn-control {
    width: 32px; height: 32px; border-radius: 16px; line-height: 32px; background: #fff; box-shadow: 0 5px 10px -7px rgba(#2FBAB3, .6);
    i { font-size: 20px; color: #88929C; }
}