#content {
    width: 100%;
    min-height: calc(100vh - 72px);
    margin-left: 246px;
    padding: 0;
    transition: all 0.3s;
    &.active {
        margin-left: 0;
    }
    > {
        .padding {
            height: calc(100% - 52px);
            padding: 10px 20px 20px;
        }
        .navbar {
            margin: 0 0 5px;
            padding: 5px 10px;
            color: #88929C;
            background-color: #EEEEEE;
            box-shadow: 0 1px 3px rgba(#000, .17), 0 3px 14px -5px rgba(#000, .18);
            a {
                color: inherit;
                &:hover {
                    color: $color_shark_approx;
                }
            }
            .messages {
                font-size: 1.3em;
                .nav-link {
                    position: relative;
                    padding: 9px 15px 7px;
                }
                .num-unread {
                    position: absolute;
                    top: 3px;
                    right: 6px;
                    font-size: .6em;
                    background-color: $color_red;
                    display: block;
                    width: 16px;
                    height: 16px;
                    text-align: center;
                    line-height: 16px;
                    color: $white;
                    font-weight: bold;
                                border-radius: 16px;
                }
            }
            .dropdown-toggle {
                padding-right: 15px;
            }
            .dropdown-toggle::after {
                right: 0;
            }
            .account .gravatar {
                margin-top: -2px;
                        border-radius: 26px;
                img {
                    float: none;
                    width: 26px;
                }
            }
        }
    }
    h3 {
        font-size: 18px;
    }
    @media (max-width: 768px) {
        margin-left: 0;
    }
}