nav.main {
    @include box_z1;
    position: relative;
    min-width: unset;
    margin-bottom: 20px;
    z-index: 10;
    height: auto;
    section {
        width: 100%;
        margin: 0;
        text-align: center;
    }
    >section>ul { float: none; display: flex; flex-wrap: wrap; margin: 0 auto; justify-content: center; }
    li {
        z-index: auto;
        >a {
            color: #88929C; border-top: 3px solid transparent; border-bottom: 3px solid transparent; line-height: 1.3; display: flex; align-items: center;
            border-radius: 0 !important; padding: 0; margin: 0 15px;
            span {
                background: none; height: auto; width: auto; font-size: 20px; margin: 0 5px 0 0; display: inline-block; vertical-align: middle; float: none;
                &:before { @include uico(); }
                &.dashboard:before { content: "\e871"; }
                &.users:before { content: "\e7fb"; }
                &.developer:before { content: "\eb3f"; }
            }
            &[href*="/time-tracking/"] span:before { content: "\e425"; }
            &[href*="/photos/"] span:before { content: "\e432"; }
            &[href*="/settings/"] span:before { content: "\e429"; }
            // ---
            &[href*="/categories/"] span:before { content: "\e617"; }
            &[href*="/items/"] span:before { content: "\e54c"; }
            &[href*="/orders/"] span:before { content: "\e8cb"; }
        }
        &:hover {
            >a { background: transparent; color: $color_primary; }
        }
        &.active {
            >a {
                color: $color_primary;
                border-bottom-color: $color_primary;
                span {
                }
            }
        }
        ul {
            border-radius: 0 0 3px 3px; z-index: 5;
            @include box_z5(); color: inherit;
            li {
                text-align: left;
                a {
                    margin: 0 -8px; padding: 15px; background: none; color: #88929C !important;
                    &:hover {
                        background: $color_primary !important; color: #fff !important;
                    }
                }
            }
        }
        &:hover ul li {
            &.split-top {
                border-top: 2px solid $white_20;
            }
            a {
                background: transparent;
            }
        }
    }
}