#sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    margin-left: -2px;
    background: $color_shark_approx;
    color: $white;
    transition: all 0.3s;
    z-index: 20;
    &.active {
        margin-left: -254px;
    }
    .sidebar-header {
        height: 48px;
        border-bottom: 1px solid $white_10;
        h3 {
            margin: 0 15px;
            padding: 0;
            text-align: center;
            font-size: 1.3em;
            line-height: 49px;
            position: relative;
            height: 48px;
            overflow: hidden;
            span {
                position: relative;
                top: 0px;
                left: 0px;
                white-space: nowrap;
                transform: translateX(0);
                transition: linear 2s;                
            }
            &:hover span { transform: translateX(calc(250px - 100%)); }
        }
    }
    ul {
        &.components {
            max-height: 100vh;
            overflow-y: scroll;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid $white_10;
        }
        p {
            color: $white;
            padding: 10px;
        }
        li {
            a {
                padding: 10px 15px;
                font-size: 1.1em;
                display: block;
                color: $white_92;
                &:hover {
                    color: $color_primary;
                    background: $color_mirage_approx;
                }
            }
            ul {
                margin-left: 0;
                li {
                    padding-left: 0;
                    a {
                        padding-left: 30px;
                    }
                    &.grouper {
                        padding: 5px 15px;
                        background-color: $white_8;
                        color: $white_60;
                    }
                    &.active a {
                        background: initial;
                        color: $color_primary;
                    }
                }
            }
            &.active > a {
                color: $white;
                @include linear-gradient(#00B9AF, #54BDCC, 90);
            }
        }
    }
    a[aria-expanded="true"] {
        color: $white;
        background: #ffffff24;
    }
    @media (max-width: 768px) {
        margin-left: -254px;
    }
}
a[data-toggle="collapse"] {
    position: relative;
}