#propertiesContainer .search-box.advanced .column {
    float: left;
    width: 50%;
}

#propertiesContainer .search-box.advanced .option {
    margin-bottom: 15px;
}
#propertiesContainer .search-box.advanced .option.hidden {
    display: none;
}
#propertiesContainer .search-box.advanced .option_row .option {
    float: left;
    margin-right: 30px;
}
#propertiesContainer .search-box.advanced .option .note {
    display: block;
    font-size: .8em;
    opacity: .5;
}


@media screen and (max-width: 860px) {

    #propertiesContainer .search-box.advanced .column {
        float: none;
        width: 100%;
    }

}