#propertiesContainer .agent_agency-profile .colSmall {
    float: left;
}
#propertiesContainer .agent_agency-profile .colLarge {
    float: left;
    margin-left: 25px;
}

#propertiesContainer .agent_agency-profile .colSmall .info img.main {
    max-width: 250px;
}

#propertiesContainer .agent_agency-profile h1 {
    margin: 0 0 20px 0;
}
#propertiesContainer .agent_agency-profile .address {
    margin-bottom: 15px;
}
#propertiesContainer .agent_agency-profile .phone {
    margin-bottom: 15px;
}
#propertiesContainer .agent_agency-profile .website {
    margin-bottom: 15px;
}

#propertiesContainer .agent_agency-profile .listings {
    margin-top: 25px;
}
#propertiesContainer .agent_agency-profile .listings .head h2 {
    float: left;
    margin: 0 0 15px 0;
}
#propertiesContainer .agent_agency-profile .listings .head a {
    float: right;
}

@media screen and (max-width: 860px) {

}

@media screen and (max-width: 680px) {

    #propertiesContainer .agent_agency-profile .colSmall {
        float: none;
        margin: 0 0 25px 0;
    }
    #propertiesContainer .agent_agency-profile .colLarge {
        float: none;
        margin: 0px;
    }

}