#propertiesContainer .colSmall {
    float: right;
    width: 200px;
}
#propertiesContainer .colLarge {
    float: left;
    width: 100%;
    margin-right: -200px;
    padding-right: 225px;
}

#propertiesContainer .result_info.top {
    margin-bottom: 20px;
}
#propertiesContainer .result_info.bottom {
    margin-top: 10px;
}
#propertiesContainer .result_info .displaying {
    float: left;
}
#propertiesContainer .result_info select[name="sort"] {
    float: right;
    margin-left: 15px;
}
#propertiesContainer .result_info .paging {
    float: right;
}

#propertiesContainer .search-box.horizontal {
    margin-bottom: 20px;
}

#propertiesContainer .search-box.vertical {
    padding: 15px;
}