#propertiesContainer .search-box .option .label_wval .label {
    float: left;
}
#propertiesContainer .search-box .option .label_wval .value {
    float: right;
}
#propertiesContainer .search-box .option .slider_element {
    margin: 10px 15px;
}
#propertiesContainer .search-box .option .slider_element.noUi-horizontal .noUi-handle {
    width: 24px;
}
#propertiesContainer .search-box .option .slider_element.noUi-horizontal .noUi-handle:before {
    left: 9px;
}
#propertiesContainer .search-box .option .slider_element.noUi-horizontal .noUi-handle:after {
    left: 13px;
}

#propertiesContainer .search-box.horizontal {
    padding: 5px 0;
    border-bottom: 1px solid #999;
}
#propertiesContainer .search-box.horizontal .option {
    float: left;
    margin: 0 30px 10px 0;
}
#propertiesContainer .search-box.horizontal .submit {
    float: right;
}
#propertiesContainer .search-box.horizontal .submit .advanced {
    display: block;
    margin-top: 2px;
    font-size: .85em;
}

#propertiesContainer .search-box.vertical {
    padding: 20px;
    background-color: #f5f5f5;
}
#propertiesContainer .search-box.vertical .option {
    margin: 0 0 20px 0;
}
#propertiesContainer .search-box.vertical .option .label {
    font-weight: bold;
}
#propertiesContainer .search-box.vertical .submit {
    margin-top: 25px;
    text-align: right;
}
#propertiesContainer .search-box.vertical .submit .advanced {
    display: block;
    margin-top: 1px;
    font-size: .85em;
}

#propertiesContainer .properties {

}