.properties.style-grid {
    margin: 0 -15px;
}
.properties.style-grid .property {
    float: left;
    width: 33.33%;
}
.properties.style-grid .property .container {
    margin: 0 15px 15px;
    padding: 0px;
    border: 6px solid #eee;
    /*background-color: #fafafa;*/
}
.properties.style-grid .property .image {
    position: relative;
}
.properties.style-grid .property .image .click {
    display: block;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out 0s;
}
.properties.style-grid .property .image .click:before {
    z-index: 2;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    background-color: #ffffff80;
    width: 100%;
    height: 100%;
}
.properties.style-grid .property .image .click:after {
    z-index: 1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: linear-gradient(to bottom, #0000 0%, #0000 0%, #0003 65%, #0009 100%);
}
.properties.style-grid .property .image:hover .click {
    z-index: 2;
    opacity: 0.7;
    filter: alpha(opacity=70);
    background-image: none;
}
.properties.style-grid .property .image .type {
    z-index: 3;
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 1px 5px;
    background-color: #222;
    font-size: .8em;
    border-radius: 2px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
.properties.style-grid .property .image .price {
    z-index: 3;
    position: absolute;
    bottom: 34px;
    left: 12px;
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
}
.properties.style-grid .property .image .price .term {
    padding-left: 5px;
    font-size: .8em;
    opacity: .8;
}
.properties.style-grid .property .image .sqft {
    z-index: 3;
    position: absolute;
    bottom: 12px;
    left: 12px;
    font-size: .9em;
    font-weight: bold;
    color: #fff;
}
.properties.style-grid .property .image .sqft .label {
    padding-left: 2px;
}
.properties.style-grid .property .image .images {
    z-index: 3;
    position: absolute;
    bottom: 12px;
    right: 12px;
    color: #fff;
    opacity: .5;
    transition: all 0.5s ease-in-out 0s;
}
.properties.style-grid .property .image:hover .images {
    opacity: 1;
}
.properties.style-grid .property .image .images i {
    padding-right: 4px;
}
.properties.style-grid .property .info {
    padding: 12px 12px 10px;
}
.properties.style-grid .property .info .title {
    font-size: 1.1em;
    font-weight: bold;
}
.properties.style-grid .property .info .address {
    padding-top: 5px;
    font-size: .9em;
    color: #888;
}
.properties.style-grid .property .info .quick {
    float: left;
    padding: 15px 0 0 2px;
}
.properties.style-grid .property .info .quick .item {
    float: left;
    padding-right: 20px;
}
.properties.style-grid .property .info .quick .item i {
    padding-right: 5px;
}
.properties.style-grid .property .info .more_button {
    float: right;
    padding-top: 8px;
}
.properties.style-grid .property .bottom {
    margin-top: 5px;
    padding: 10px 12px;
    border-top: 1px solid #eee;
    /*background-color: #fafafa;*/
    font-size: .8em;
    color: #888;
}
.properties.style-grid .property .bottom i {
    padding-right: 4px;
}
.properties.style-grid .property .bottom > div {
    line-height: 20px;
}
.properties.style-grid .property .bottom .by {
    float: left;
}
.properties.style-grid .property .bottom .date {
    float: right;
}
.properties.style-grid .property .bottom .rating_stars {
    float: right;
}
.properties.style-grid .property .bottom .rating_stars .stars {
    margin-bottom: -3px;
    line-height: auto;
}

@media screen and (max-width: 860px) {

    .properties.style-grid .property {
        width: 50%;
    }

}

@media screen and (max-width: 680px) {

    .properties.style-grid .property {
        width: 100%;
    }

}