#propertiesContainer .property-full > .content {
    float: left;
    width: 100%;
    margin-right: -300px;
}
#propertiesContainer .property-full .largeColumn {
    margin-right: 300px;
    padding-right: 25px;
}
#propertiesContainer .property-full .smallColumn {
    width: 300px;
    float: right;
}

#propertiesContainer .property-full .pad-top {
    margin-top: 15px;
}
#propertiesContainer .property-full .small {
    font-size: .8em;
}
#propertiesContainer .property-full .hr {
    margin: 15px 0;
    height: 1px;
    overflow: hidden;
    background-color: #ddd;
}

#propertiesContainer .property-full .tabs1 {
    margin-top: 15px;
}
#propertiesContainer .property-full .tabs1 .nav {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#propertiesContainer .property-full .tabs1 .nav li {
    display: inline-block;
}
#propertiesContainer .property-full .tabs1 .nav a {
    display: inline-block;
    padding: 8px 12px;
}
#propertiesContainer .property-full .tabs1 .nav a i {
    padding-right: 6px;
}
#propertiesContainer .property-full .tabs1 .nav a.active {
    background-color: #ddd;
    cursor: default;
}
#propertiesContainer .property-full .tabs1 .content > .item {
    display: none;
}
#propertiesContainer .property-full .tabs1 .content > .item:first-child {
    display: block;
}

#propertiesContainer .property-full .listing_type {
    float: right;
    padding: 3px 5px;
    background-color: #222;
    font-size: .8em;
    line-height: 1em;
    border-radius: 2px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
#propertiesContainer .property-full h1.title {
    margin: 0px;
}
#propertiesContainer .property-full h1.title .property_id {
    margin-left: 10px;
    font-size: .65em;
    font-weight: normal;
    font-style: italic;
    opacity: .8;
}
#propertiesContainer .property-full h2.address {
    float: left;
    margin: 8px 0 0;
    font-size: 1.2em;
    line-height: 1em;
    font-weight: normal;
    color: #777;
}
#propertiesContainer .property-full h2.address i {
    padding-right: 8px;
}
#propertiesContainer .property-full .rating_stars {
    float: right;
    margin-top: 5px;
    margin-right: -2px;
    font-size: .95em;
}
#propertiesContainer .property-full .rating_stars .stars .br-theme-fontawesome-stars-o .br-readonly a {
    cursor: pointer;
}
#propertiesContainer .property-full .city_neighborhood {
    clear: left;
    float: left;
    padding-top: 4px;
    font-size: .9em;
    opacity: .5;
}

#propertiesContainer .property-full .map iframe {
    display: block;
}

#propertiesContainer .property-full .images_container img {
    display: block;
}
#propertiesContainer .property-full .images_container .thumbs {
    margin: 0 -2%;
}
#propertiesContainer .property-full .images_container .thumbs .thumb {
    float: left;
    width: 20%;
    margin: 1%;
    padding: 1px;
    line-height: 0em;
}

#propertiesContainer .property-full .feature_grid {
    margin: 20px 0 0;
    text-align: center;
}
#propertiesContainer .property-full .feature_grid .item {
    display: inline-block;
    margin-left: -4px;
    padding: 16px 25px;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
    font-size: 1.3em;
}
#propertiesContainer .property-full .feature_grid .item:first-child {
    margin-left: 0px;
    border-left: 1px solid #ddd;
}
#propertiesContainer .property-full .feature_grid .item i {
    padding-right: 10px;
    opacity: .8;
}
#propertiesContainer .property-full .feature_grid .item .label {
    padding-top: 2px;
    font-size: .7em;
    opacity: .5;
}

#propertiesContainer .property-full .description {
    margin-top: 20px;
}

#propertiesContainer .property-full .general_info i {
    padding-right: 6px;
}

#propertiesContainer .property-full .features {
    margin-top: 20px;
}
#propertiesContainer .property-full .features h3 {
    margin: 0px;
}
#propertiesContainer .property-full .features .items {
    padding: 15px 15px 5px;
    background-color: #fafafa;
}
#propertiesContainer .property-full .features .items .item {
    float: left;
    width: 50%;
    padding-bottom: 10px;
}
#propertiesContainer .property-full .features .items .item i {
    padding-right: 6px;
    color: #3a7de3;
}

#propertiesContainer .property-full .info_container1 {
    margin-top: 20px;
}
#propertiesContainer .property-full .info_container1 h3 {
    margin: 0px;
}
#propertiesContainer .property-full .info_container1 .items {
    padding: 15px 15px 5px;
    background-color: #fafafa;
}
#propertiesContainer .property-full .info_container1 .items .item {
    padding-bottom: 10px;
}
#propertiesContainer .property-full .info_container1 .items .item i {
    padding-right: 6px;
}

#propertiesContainer .property-full .videos .video {
    margin-top: 20px;
}
#propertiesContainer .property-full .videos .video h3 {
    margin: 0px;
}

#propertiesContainer .property-full .rooms {
    margin-top: 20px;
}
#propertiesContainer .property-full .rooms h3 {
    margin: 0px;
}
#propertiesContainer .property-full .rooms .room {
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
}
#propertiesContainer .property-full .rooms .room:first-child {
    border-top: 1px solid #ddd;
}
#propertiesContainer .property-full .rooms .room .head .item {
    float: left;
}
#propertiesContainer .property-full .rooms .room .head .type {
    width: 30%;
    font-weight: bold;
}
#propertiesContainer .property-full .rooms .room .head .level {
    width: 40%;
}
#propertiesContainer .property-full .rooms .room .head .dimensions {
    width: 30%;
    text-align: right;
}
#propertiesContainer .property-full .rooms .room .bed {
    margin-top: 6px;
    font-size: .9em;
    opacity: .6;
}
#propertiesContainer .property-full .rooms .room .bed .item {
    float: left;
    padding-right: 20px;
}
#propertiesContainer .property-full .rooms .room .bed .item:last-child {
    padding-right: 0px;
}
#propertiesContainer .property-full .rooms .room .description {
    margin-top: 10px;
    font-size: .9em;
    opacity: .6;
}
#propertiesContainer .property-full .rooms .room .options {
    margin-top: 10px;
    font-size: .9em;
    opacity: .6;
}
#propertiesContainer .property-full .rooms .room .options .item {
    display: inline-block;
    float: left;
    padding-right: 20px;
}
#propertiesContainer .property-full .rooms .room .options .item:last-child {
    padding-right: 0px;
}
#propertiesContainer .property-full .rooms .room .options .item i {
    padding-right: 6px;
    color: #3a7de3;
}

#propertiesContainer .property-full .reviews {
    position: relative;
}
#propertiesContainer .property-full .reviews .button.add.top {
    position: absolute;
    top: 0px;
    right: 0px;
}

#propertiesContainer .property-full .price {
    font-size: 1.6em;
}
#propertiesContainer .property-full .price .term {
    padding-left: 6px;
    font-size: .8em;
    opacity: .6;
}

#propertiesContainer .property-full .agent_agency {
    margin-top: 20px;
}

#propertiesContainer .contact {
    margin-top: 20px;
}
#propertiesContainer .contact h3 {
    margin: 0 0 10px 0;
}
#propertiesContainer .contact .site-message {
    display: none;
}
#propertiesContainer .contact .site-message ul {
    display: block;
    margin: 0px;
    padding: 5px 0 0 20px;
    list-style: initial;
}
#propertiesContainer .contact .site-message ul li:last-child, #propertiesContainer .contact .site-message p:last-child {
    padding-bottom: 0px;
}
#propertiesContainer .contact .field {
    padding-bottom: 6px;
}
#propertiesContainer .contact .field input[type="text"] {
    width: 80%;
}
#propertiesContainer .contact .buttons {
    padding-top: 4px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 680px) {

    #propertiesContainer .property-full > .content {
        float: none;
        margin: 0px;
    }
    #propertiesContainer .property-full .largeColumn {
        margin: 0px;
        padding: 0px;
    }
    #propertiesContainer .property-full .smallColumn {
        margin: 25px 0 0;
        padding: 0px;
    }

}
