.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

#ecommContainer {
    max-width: 398px;
    margin: 0px;
    padding: 0 10px;
}

#ecommContainer .item_container .order_info {
    display: none;
    margin-top: 15px;
}
#ecommContainer .item_container .order_info input {
    width: 100%;
}

#ecommContainer .item_container .buttons {
    display: none;
}
#ecommContainer .item_container .buttons .button {
    width: 100%;
    text-align: center;
}
#ecommContainer .item_container .attributes {
    display: none;
}