#listings_list td {
    padding: 5px;
}
#listings_list tr:nth-child(odd) {
    background-color: #f5f5f5;
}
#listings_list .pending {
    background-color: #ff8a80;
    border-radius: 2px;
    font-size: 0.8em;
    margin-bottom: 5px;
    margin-left: 0px;
    text-align: center;
}
#listings_list .button {
    display: inline-block;
    width: 120px;
    padding: 6px 0;
    background-color: #9aac49;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}
#listings_list .button:hover {
    background-color: #819232;
}