#myAccount .orders {
    margin-bottom: 20px;
    border-collapse: collapse;
}
#myAccount .orders th {
    margin: 0 0 10px 0;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
    text-align: left;
}
#myAccount .orders td {
    padding: 5px;
}