/*@media print {*/

    header.main, nav.main, .print-hidden {
        display: none;
    }

    #page > h1 {
        margin: 0 0 15px;
        text-decoration: none;
        font-size: 1.4em;
        font-weight: bold;
        color: #444;
    }
    #page > h1 .page_icon {
        display: none;
    }

    .select {
        border: 0px none;
    }
    .select span {
        width: auto;
        overflow: visible;
        padding: 0px;
    }
    .select span figure {
        display: none;
    }

/*}*/