#myAccount .billing_shipping {
    margin-bottom: 20px;
}
#myAccount .billing_shipping .col-1-2 {
    min-width: 350px;
}
#myAccount .billing_shipping h4 {
    margin: 0 0 15px;
}
#myAccount .billing_shipping .fields.billing .phone, #myAccount .billing_shipping .fields.billing .email, #myAccount .billing_shipping .fields.shipping .phone, #myAccount .billing_shipping .fields.shipping .email {
    padding-top: 4px;
}

#myAccount .orders {
    margin-bottom: 20px;
    border-collapse: collapse;
}
#myAccount .orders th {
    margin: 0 0 10px 0;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
    text-align: left;
}
#myAccount .orders td {
    padding: 5px;
}

#myAccount .orders_v2 .order {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#myAccount .orders_v2 .order .heading {
    padding: 3px 10px 2px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    font-size: .8em;
    color: #444;
    border-radius: 5px 5px 0px 0px;
}
#myAccount .orders_v2 .order .heading table {
    width: 100%;
}
#myAccount .orders_v2 .order .heading .head {
    text-transform: uppercase;
}
#myAccount .orders_v2 .order .heading .info.larger {
    font-size: 1.2em;
}
#myAccount .orders_v2 .order .content {
    padding: 2px 10px;
}
#myAccount .orders_v2 .order .content .items {
    width: 75%;
    vertical-align: top;
}
#myAccount .orders_v2 .order .content h3.status {
    margin: 5px 0 13px 0;
    color: #333;
}
#myAccount .orders_v2 .order .content table {
    width: 100%;
}
#myAccount .orders_v2 .order .content .item {
}
#myAccount .orders_v2 .order .content .item:last-child {
    margin-bottom: 0px;
}
#myAccount .orders_v2 .order .content .item td {
    padding: 0 0 15px 0;
    vertical-align: top;
}
#myAccount .orders_v2 .order .content .item .thumb {
    padding-right: 15px;
}
#myAccount .orders_v2 .order .content .item .thumb img {
    max-width: 100px;
}
#myAccount .orders_v2 .order .content .item .info {
    width: 100%;
}
#myAccount .orders_v2 .order .content .item .title {
    display: block;
    padding: 2px 0;
}
#myAccount .orders_v2 .order .content .item ul {
    margin: 0;
    padding: 0 0 0 20px;
    font-size: .8em;
    color: #444;
}
#myAccount .orders_v2 .order .content .item ul li {
    line-height: 1.1em;
}
#myAccount .orders_v2 .order .content .item .price {
    margin-top: 7px;
    color: #222;
}
#myAccount .orders_v2 .order .content .item .reorder {
    margin-top: 7px;
}
#myAccount .orders_v2 .order .content .buttons {
    width: 25%;
    padding-top: 10px;
    vertical-align: top;
}
#myAccount .orders_v2 .order .content .buttons .shipments a.button {
    margin-bottom: 10px;
}
#myAccount .orders_v2 .order .content .buttons .shipments h4 {
    margin: 2px 0 6px 0;
}
#myAccount .orders_v2 .order .content .buttons .shipments ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#myAccount .orders_v2 .order .content .buttons .shipments ul li {
    margin-bottom: 2px;
}
#myAccount .orders_v2 .order .content .buttons .shipments ul li:last-child {
    margin-bottom: 0px;
}