#businessdirContainer .breadcrumbs {
    padding-bottom: 10px;
}

#businessdirContainer .item_container fieldset {
    border: 0px;
}

#businessdirContainer .item_container .grid .last{
    padding: 0px;
}
#businessdirContainer .item_container .pad-top {
    padding-top: 15px;
}

#businessdirContainer .item_container h1 {
    float: left;
}
#businessdirContainer .item_container .rating_stars {
    float: right;
    cursor: pointer;
}
#businessdirContainer .item_container .rating_stars .br-readonly a {
    cursor: pointer;
}
#businessdirContainer .item_container .rating_stars [itemprop="ratingValue"], #businessdirContainer .item_container .rating_stars [itemprop="reviewCount"] {
    display: none;
}

#businessdirContainer .item_container .images_container img {
    display: block;
}

#businessdirContainer .item_container .images_container .thumbs {
    margin: 0 -2%;
}

#businessdirContainer .item_container .images_container .thumbs .thumb {
    float: left;
    width: 46%;
    margin: 2%;
    padding: 1px;
    line-height: 0em;
}

#businessdirContainer .item_container h1 {
    margin: 0px;
    padding: 0px;
}
#businessdirContainer .item_container h3 {
    margin: 0px;
}

#businessdirContainer .item_container .department {
    font-size: 1.2em;
}

#businessdirContainer .item_container .address_container {
    padding: 15px 0;
}
#businessdirContainer .item_container .address_container .address span {
    display: block;
}

#businessdirContainer .item_container .features .feature {
    margin-bottom: 10px;
}
#businessdirContainer .item_container .features .feature:last-child {
    margin-bottom: 0px;
}
#businessdirContainer .item_container .features .feature .title {
    font-weight: bold;
}
#businessdirContainer .item_container .features .feature .value {

}

#businessdirContainer .contact h3 {
    padding-bottom: 8px;
}
#businessdirContainer .contact .site-message {
    display: none;
}
#businessdirContainer .contact .site-message ul {
    display: block;
    margin: 0px;
    padding: 5px 0 0 20px;
    list-style: initial;
}
#businessdirContainer .contact .site-message ul li:last-child, #businessdirContainer .contact .site-message p:last-child {
    padding-bottom: 0px;
}
#businessdirContainer .contact .field {
    padding-bottom: 6px;
}
#businessdirContainer .contact .field input[type="text"] {
    width: 50%;
}
#businessdirContainer .contact .buttons {
    padding-top: 4px;
}

#businessdirContainer .item_container .reviews {
    margin-top: 25px;
}
#businessdirContainer .item_container .reviews h3 {
    float: left;
}
#businessdirContainer .item_container .uccms_ratings-reviews .add.top {
    float: right;
}
#businessdirContainer .item_container .uccms_ratings-reviews .item {
    float: none;
    width: auto;
    height: auto;
    border: 0px none;
}
#businessdirContainer .item_container .uccms_ratings-reviews .add-review {
    margin-top: 15px;
}
#businessdirContainer .item_container .uccms_ratings-reviews .criteria {
    margin-top: 10px;
}
#businessdirContainer .item_container .uccms_ratings-reviews form .criteria {
    margin-top: 0px;
}
#businessdirContainer .item_container .uccms_ratings-reviews .criteria .item, #businessdirContainer .item_container .uccms_ratings-reviews form .item {
    margin: 0 0 10px 0;
}
#businessdirContainer .item_container .uccms_ratings-reviews .results {
    clear: both;
}
#businessdirContainer .item_container .uccms_ratings-reviews .results .item {
    margin: 15px 0 0 0;
}

#businessdirContainer .item_container .blog-posts {
    margin-top: 25px;
}
#businessdirContainer .item_container .blog-posts .posts {
    margin: 5px -15px 0;
}
#businessdirContainer .item_container .blog-posts .posts .post {
    float: left;
    width: 50%;
}
#businessdirContainer .item_container .blog-posts .posts .post .margin {
    margin: 0 15px 15px;
}
#businessdirContainer .item_container .blog-posts .posts .post .image.main {
    margin-bottom: 10px;
}
#businessdirContainer .item_container .blog-posts .posts .post .image.main img {
    display: block;
}
#businessdirContainer .item_container .blog-posts .posts .post h3 {
    margin: 0 0 10px 0;
}