#ecommContainer .content {
    padding-bottom: 15px;
}

#ecommContainer .featured {
    padding-bottom: 15px;
}
#ecommContainer .featured h3, #ecommContainer .recent h3 {
    margin: 0 0 10px 0;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
}

#businessdirContainer .breadcrumbs {
    padding-bottom: 10px;
}

/** CATEGORY **/

#businessdirContainer .category_head {
    padding-bottom: 20px;
}
#businessdirContainer .category_head img {
    float: left;
    width: 200px;
    margin-right: 20px;
}
#businessdirContainer .category_head h1 {
    margin: 0px;
}
#businessdirContainer .category_head .description {
    padding-top: 5px;
}
#businessdirContainer .sub_categories {
    padding-bottom: 20px;
}
#businessdirContainer .sub_categories h3 {
    margin: 0 0 5px 0;
}
#businessdirContainer .sub_categories .sub {
    float: left;
    margin-right: 20px;
}

#businessdirContainer .paging.sort {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    line-height: 1em;
}
#businessdirContainer .paging.bottom {
    text-align: right;
}