#businessdirContainer {
    position: relative;
}

#businessdirContainer form.search {
    float: right;
}
#businessdirContainer form.search input[name="q"] {
    width: 200px;
}

/** COLUMN: CATEGORY NAVIGATION **/

#businessdirContainer .smallColumn .category_nav {
    margin-bottom: 25px;
}
#businessdirContainer .smallColumn .category_nav h3 {
    margin: 0 0 5px 0;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
}
#businessdirContainer .smallColumn .category_nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#businessdirContainer .smallColumn .category_nav ul li {
    margin: 0px;
    padding: 0px;
}
#businessdirContainer .smallColumn .category_nav ul li li {
    margin: 0px;
    padding: 0 0 0 10px;
}
#businessdirContainer .smallColumn .category_nav ul li a {
    display: block;
    line-height: 32px;
}
#businessdirContainer .smallColumn .category_nav li.active a {
    color: #555;
}

/** COLUMN: SEARCH / FILTER **/

#businessdirContainer .smallColumn .search_filter {
    margin-bottom: 25px;
}
#businessdirContainer .smallColumn .search_filter .clear {
    float: right;
    font-size: .8em;
}
#businessdirContainer .smallColumn .search_filter h3 {
    margin: 0;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
}
#businessdirContainer .smallColumn .search_filter form.search {
    float: none;
}
#businessdirContainer .smallColumn .search_filter .title {
    display: block;
    margin: 0 0 5px 0;
    font-weight: bold;
    opacity: .7;
}
#businessdirContainer .smallColumn .search_filter .group {
    margin-top: 15px;
}
#businessdirContainer .smallColumn .search_filter .features fieldset {
    margin: 15px 0 0;
    padding: 0px;
}
#businessdirContainer .smallColumn .search_filter .features .reqd {
    display: none;
}
#businessdirContainer .smallColumn .search_filter .submit {
    margin-top: 15px;
}
#businessdirContainer .smallColumn .search_filter .submit input {
    width: 100%;
}
#businessdirContainer .smallColumn .search_filter .group.keyword input {
    width: 100%;
}
#businessdirContainer .smallColumn .search_filter .group.rating_stars .title {
    margin-bottom: 2px;
}

/* ELEMENT: ITEM */

#businessdirContainer .item_container {
    position: relative;
    margin: 0 -10px 0 -10px;
}

#businessdirContainer .item_container .item {
    float: left;
    width: 222px;
    height: 206px;
    overflow: hidden;
    margin: 10px;
    padding: 0px;
    border: 1px solid #ccc;
}
#businessdirContainer .item_container .item .image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#businessdirContainer .item_container .item .image a {
    display: block;
    height: 140px;
}
#businessdirContainer .item_container .item .title {
    padding-top: 10px;
    text-align: center;
}
#businessdirContainer .item_container .item .rating_stars {
    padding-top: 8px;
    text-align: center;
}
#businessdirContainer .item_container .item .rating_stars .no_reviews {
    font-size: .85em;
    opacity: .5;
}
#businessdirContainer .item_container .item .price {
    padding: 0 10px 10px 10px;
    text-align: center;
}

/* TIME PICKER */

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-div .ui_tpicker_unit_hide{ display: none; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

/* Shortened version style */
.ui-timepicker-div.ui-timepicker-oneLine { padding-right: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time,
.ui-timepicker-div.ui-timepicker-oneLine dt { display: none; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label { display: block; padding-top: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine dl { text-align: right; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd,
.ui-timepicker-div.ui-timepicker-oneLine dl dd > div { display:inline-block; margin:0; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before { content:':'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before { content:'.'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before{ display: none; }

/* MEDIA QUERIES */
@media screen and (min-width: 680px) {

    #businessdirContainer .largeColumn.withSmallColumn {
        margin-left: 244px;
    }

    #businessdirContainer .smallColumn {
        float: left;
        width: 220px;
    }

}

@media screen and (max-width: 680px) {

    #businessdirContainer .item_container .item {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

}