#businessdirContainer .largeColumn h1 {
    margin-bottom: 5px;
}
#businessdirContainer .largeColumn .paging {
    text-align: right;
}
#businessdirContainer .largeColumn .noresults {
    margin-top: 15px;
}