#staff_dashboard .activity_container {
    border-left: 2px solid #bbb;
    .day {
        position: relative;
        margin-top: 20px;
        padding-bottom: 20px;
        &:first-child {
            margin-top: 0;
        }
        .icon {
            position: absolute;
            top: 5px;
            left: -7px;
            width: 0.9em;
            height: 0.9em;
            background-color: #bbb;
            border-radius: 0.9em;
        }
        .date {
            margin-left: 20px;
            padding: 5px 10px;
            background-color: #e0e0e0;
            border-radius: 10px;
            text-align: center;
            font-weight: bold;
            color: #666;
        }
    }
    .item {
        position: relative;
        .icon {
            position: absolute;
            top: -3px;
            left: -10px;
            width: 1.6em;
            height: 1.6em;
            background-color: #aaa;
            text-align: center;
            font-size: 1em;
            line-height: 1.6em;
            color: #fff;
            border-radius: 1.6em;
        }
        .main {
            padding-left: 20px;
            .title {
                padding-bottom: 3px;
                font-size: 1.05em;
                font-weight: bold;
                color: #555;
                a {
                    padding-bottom: 3px;
                    font-size: 1.05em;
                    font-weight: bold;
                    color: #555;
                }
            }
            .time {
                padding-bottom: 3px;
                font-size: .9em;
                color: #777;
            }
            .details {
                padding-top: 1px;
                padding-bottom: 3px;
                font-size: .9em;
                color: #999;
            }
            .status {
                padding-bottom: 2px;
            }
            .action {
                color: #777;
            }
        }
    }
    .split {
        height: 1px;
        margin: 15px 0;
        border-bottom: 1px dashed #ddd;
    }
}