.table-responsive { padding: 10px; margin: -10px; width: calc(100% + 20px); }

div.table { border: none; }
.table {
    .ui-sortable-helper {
        display: table;
        background-color: $white_70;
        border-bottom: 1px solid $black_10;
    }
    .table {
        margin: 0;
        border: 0 none;
        td {
            font-size: 14px; background: none; border-bottom: 1px solid #E1E1E1; padding: 10px; line-height: 1.2;
            a.title.main {
                color: $color_text;
                &:hover {
                    color: $color_primary;
                }
            }
        }
        thead { @include box_z1; background: none; }
        thead th {
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 12px;
            font-weight: 500;
            color: #88929C;
            background: none;
            border: none;
        }
    }
    .sortable-handle {
        padding-right: 7px;
        vertical-align: middle;
        font-size: 1.2em;
        cursor: move;
        opacity: .5;
        transition: all 0.3s;
    }
    tr {
        &:hover {
            .sortable-handle {
                opacity: .9;
            }
            .options a {
                opacity: 1;
            }
        }
        .sortable-handle + span {
            vertical-align: middle;
        }
    }
    .options {
        a {
            margin-left: 10px;
            vertical-align: middle;
            opacity: .5;
            i {
                font-size: 1.2em;
            }
            &.delete i {
                font-size: 1.3em;
            }
        }
        .edit {
            color: $color_saffron_approx;
        }
        .delete {
            color: $color_red;
        }
    }
    .badge {
        padding: 2px 7px 1px 7px; vertical-align: middle; font-size: 10px; text-transform: uppercase; font-weight: 600; color: #a2aab2; border: 1px solid; border-radius: 10px; background: none !important;
        &[style*="background-color: #28a745;"] { color: $color_green; }
    }
    > footer {
        border-radius: 0 0 2px 2px;
        border-top: 1px solid $color_celeste_approx;
        overflow: hidden;
        padding: 15px;
        background-color: $black_2_5;
    }
    .overflow-ellipsis {
        position: relative;
        padding: 0;
        > span {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            padding: .75rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    > .summary {
        line-height: 36px;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:after { display: none; }
        input {
            float: none;
            margin: 0;
        }
        p {
            color: $color_storm_dust_approx;
            font-size: 12px;
            line-height: 37px;
        }
        &.taller {
            height: 45px;
            line-height: 45px;
            input {
                margin: 9px 25px 0 -10px;
            }
            p {
                line-height: 45px;
            }
        }
        .add {
            background: $white;
            border: 1px solid $color_celeste_approx;
                border-radius: 2px;
            color: $color_storm_dust_approx;
            display: block;
            float: right;
            font-size: 11px;
            height: 21px;
            line-height: 21px;
            margin: 6px 0 0;
            padding: 0 10px;
            text-transform: uppercase;
                transition: background-color 0.2s, border-color 0.2s;
            &:hover {
                background: $white;
                color: $color_text;
            }
        }
        .icon_small_export {
            float: right;
            margin: 10px 0 0;
        }
        .more {
            @extend %extend_1;
            &:hover {
                background: $white;
            }
        }
        h2 {
            float: left;
            font-size: 15px;
            margin: 0;
            padding: 1px 0 0;
            text-transform: uppercase;
            height: auto;
            line-height: 28px;
            &.full {
                float: none;
                user-select: none;
            }
            span {
                background: url("../images/icon-sprite.svg") no-repeat;
                float: left;
                height: 24px;
                margin: 5px 10px 0 0;
                width: 24px;
            }
            .pages {
                background-position: 0 -80px;
            }
            .hidden {
                background-position: -24px -80px;
            }
            .archived {
                background-position: -48px -80px;
            }
            .pending {
                background-position: -72px -80px;
            }
            .unread {
                background-position: -96px -82px;
            }
            .read {
                background-position: -120px -80px;
            }
            .sent {
                background-position: -144px -80px;
            }
            .analytics {
                background-position: -168px -80px;
            }
            .published {
                background-position: -192px -80px;
            }
            .saved {
                background-position: -216px -80px;
            }
            .modules {
                background-position: -240px -80px;
            }
            .views {
                background-position: -454px -52px;
            }
            .forms {
                background-position: -477px -52px;
            }
            .embeds {
                background-position: -501px -53px;
            }
            .reports {
                background-position: -525px -52px;
            }
            .actions {
                background-position: -548px -53px;
            }
        }
        .select {
            float: right;
            height: 24px;
            line-height: 24px;
            margin: 5px 0 0 10px;
            span {
                height: 24px !important;
            }
            .handle {
                background: $concrete url("../images/icon-sprite.svg") -343px -105px;
                border-left: 1px solid $color_celeste_approx;
                height: 27px;
                top: -3px;
                width: 29px;
            }
        }
        .filter {
            float: left;
            .control {
                float: left;
                margin-right: 15px;
                font-size: 14px;
                line-height: 1.2;
                &.links a {
                    display: inline-block;
                    color: #88929C;
                    padding: 5px 10px;
                    min-width: 50px;
                    text-align: center;
                    border-radius: 3px;
                    &:hover { color: $color_primary; }
                    &.active { color: #fff; background: $color_primary; }
                }
            }
            input[type="text"] {
                padding: 4px 10px 3px;
                font-size: 13px;
            }
        }
        .paging {
            float: right;
            &.ajax nav.view_paging {
                display: none;
            }
        }
        .btn.action {
            float: right;
            height: auto;
            margin: 0 2px 0 0;
            padding: 5px 10px;
            font-size: 13px;
            text-transform: uppercase;
            i {
                margin-right: 3px;
            }
        }
        nav.view_paging {
            float: none;
            height: auto;
            margin: 0;
            border: 0;
            background: transparent;
            a {
                display: block;
                width: auto;
                height: auto;
                background-color: transparent;
                line-height: 28px;
                font-size: 14px;
            }
            .active {
                color: $color_shark_approx;
            }
            .first {
                padding-top: 10px;
            }
            .last {
                padding-top: 10px;
            }
        }
    }
    th.options {
        text-align: right;
    }
    td.options {
        text-align: right;
    }
    > summary h2 span {
        zoom: .8;
        margin-top: 8px;
    }
}
