@import "init/utils";
@import "init/settings";


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700');

// @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');


//@extend-elements
//original selectors
//.table >.summary .more, .container .summary .more
%extend_1 {
    background: $white;
    border: 1px solid $color_celeste_approx;
    border-radius: 2px;
    color: $color_tundora_approx;
    float: right;
    font-size: 11px;
    height: 22px;
    line-height: 23px;
    margin: 6px 0 0;
    padding: 0 10px;
    transition: background 0.2s;
}

@mixin box_z1 {
    background: #fff; border-radius: 3px; box-shadow: 0 1px 3px rgba(#000, .17), 0 3px 14px -5px rgba(#000, .18);
}

@mixin box_z5 {
    background: #fff; border-radius: 3px; box-shadow: 0 2px 6px rgba(#000, .3), 0 10px 30px -5px rgba(#000, .2);
}


.form-control {
    border: 1px solid #EEE; border-radius: 3px; border-bottom-color: #B1B9C2;
    &:focus { border-bottom-color: $color_primary !important; box-shadow: 0 3px 10px -4px $color_primary; }
}

body {
    color: $color_text;
    font-family:  "Open Sans", Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    textarea {
        width: 100%;
    }
    input[type=text] {
        width: 100%;
    }
    input[type=password] {
        width: 100%;
    }
    input[type=email] {
        width: 100%;
    }
    input[type=url] {
        width: 100%;
    }
    input[type="checkbox"] {
        width: 15px;
        height: 15px;
        vertical-align: middle;
        -webkit-appearance: checkbox;
    }
    input[type="radio"] {
        width: 15px;
        height: 15px;
        vertical-align: middle;
        -webkit-appearance: radio;
    }
    label {
        font-size: 14px;
    }
    > .body {
        min-width: unset;
        font-family: inherit;
        background: #fff;
    }
    input.blue {
        background-color: $color_primary;
        border: 0;
        color: $white;
        &:hover {
            background-color: $black_60;
        }
    }
    input[type=submit].blue {
        background-color: $color_primary;
        border: 0;
        color: $white;
        &:hover {
            background-color: $black_60;
        }
    }
    button.blue {
        background-color: $color_primary;
        border: 0;
        color: $white;
        &:hover {
            background-color: $black_60;
        }
    }
    .checkbox a {
        transition: none;
    }
}

@import "components/btn";


p {
    font-family: inherit;
    font-size: 15.5px;
    font-weight: 300;
    line-height: 1.5em;
    color: $color_mountain_mist_approx;
}
a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    color: $color_primary;
    outline: none;
    &:hover {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
        color: $color_shark_approx;
    }
    &:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
        color: $color_shark_approx;
    }
    &:visited {
        color: $color_primary;
        outline: none;
    }
    &:active {
        color: $color_shark_approx;
    }
    &.article {
        background: $color_moody_blue_approx !important;
        color: $white !important;
        &:hover {
            background: $color_moody_blue_approx !important;
            color: $white !important;
        }
    }
    &.dropdown-toggle[aria-expanded="true"]:after {
        transform: translateY(-50%) rotate(180deg);
    }
}
form {
    .left {
        input[type=text] {
            width: 100%;
        }
        input[type=password] {
            width: 100%;
        }
        input[type=email] {
            width: 100%;
        }
        input[type=url] {
            width: 100%;
        }
    }
    .right {
        input[type=text] {
            width: 100%;
        }
        input[type=password] {
            width: 100%;
        }
        input[type=email] {
            width: 100%;
        }
        input[type=url] {
            width: 100%;
        }
    }
}
.container {
    &.legacy {
        max-width: 100%;
        padding: 0;
        section {
            padding: 15px;
        }
        footer {
            padding: 15px;
            background-color: $black_2_5;
        }
    }
    hr {
        width: calc(100% +60px);
    }
    .summary {
        background: $color_gallery_approx;
        border-bottom: 1px solid $color_celeste_approx;
        border-radius: 2px 2px 0 0;
        height: 37px;
        line-height: 36px;
        padding: 0 6px 0 15px;
        height: auto;
        padding: 10px;
        p {
            color: $color_storm_dust_approx;
            font-size: 12px;
            line-height: 37px;
        }
        .more {
            @extend %extend_1;
        }
        h2 {
            float: left;
            font-size: 15px;
            margin: 0;
            padding: 1px 0 0;
            text-transform: uppercase;
            height: auto;
            line-height: 28px;
        }
    }
    .alert {
        width: calc(100% +60px);
    }
    header h2 {
        font-size: 15px;
    }
}
.select {
    width: 100%;
    span {
        width: 100% !important;
        max-width: 100%;
        height: 28px !important;
    }
    select {
        height: 0;
    }
    .handle {
        margin: 0;
    }
    &:not(.auto) .select_options {
        width: 100% !important;
        max-width: 100% !important;
    }
}
.checkbox {
    margin-top: 4px;
}
ul {
    &.pagination {
        margin: 0;
        padding: 0;
    }
    &.CTAs {
        padding: 20px;
        a {
            text-align: center;
            display: block;
            background: $white;
            color: $color_chetwode_blue_approx;
                border-radius: 5px;
            margin-bottom: 5px;
            text-transform: uppercase;
        }
    }
}
.navbar {
    padding: 15px 10px;
    background: $white;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px $black_10;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed $color_alto_approx;
    margin: 40px 0;
}


@import "components/table";



.form-group {
    input {
        &.date_picker {
            float: none;
        }
        &.time_picker {
            float: none;
        }
    }
    .date_picker_icon {
        float: none;
        position: absolute;
        right: 5px;
        bottom: 11px;
    }
    .time_picker_icon {
        float: none;
        position: absolute;
        right: 5px;
        bottom: 11px;
    }
    .date_time_picker_icon {
        float: none;
        position: absolute;
        right: 5px;
        bottom: 11px;
    }
}
.ui-datepicker {
    width: 280px;
    z-index: 2000 !important;
    .ui_tpicker_second {
        display: none;
    }
    .ui_tpicker_millisec {
        display: none;
    }
    .ui_tpicker_microsec {
        display: none;
    }
}
.dropdown-toggle::after {
    right: 0;
    display: block;
    position: absolute;
    top: 48%;
    right: 20px;
}


@import "components/sidebar";




#growl {
    margin: 0;
    top: 10px;
    right: 15px;
}

@import "components/content";



#sidebarCollapse {
    font-size: 1.5em;
    color: $color_shark_approx;
}
#page {
    height: 100%;
    .contain {
        .left {
            padding-right: 7.5px;
        }
        .right {
            padding-left: 7.5px;
        }
    }
    input {
        &.date_picker {
            width: 100% !important;
        }
        &.time_picker {
            width: 100% !important;
        }
        &.date_time_picker {
            width: 100% !important;
        }
    }
    form {
        .left {
            width: 50%;
            margin: 0 0 15px;
            textarea {
                width: 100%;
            }
        }
        .right {
            width: 50%;
            margin: 0 0 15px;
            textarea {
                width: 100%;
            }
        }
        .last {
            margin-bottom: 0;
        }
    }
    fieldset {
        position: relative;
        margin-bottom: 15px;
        > label:first-child {
            font-weight: 600;
            font-size: 14px;
        }
    }
    > h1 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 1.5em;
        line-height: 1em;
        color: $color_shark_approx;
        .page_icon {
            float: none;
            display: inline-block;
            margin: 0;
            vertical-align: middle;
            zoom: 0.7;
            filter: contrast(0) brightness(0) opacity(.3);
        }
        a {
            font-size: .75em;
        }
        .last {
            font-weight: 600;
            color: $color_primary;
        }
        .jump_group {
            .icon {
                height: 24px;
                background-color: $black_6;
                font-size: 12px;
                line-height: 24px;
                opacity: .7;
                &:after {
                    margin-top: 4px;
                }
            }
            .dropdown {
                strong {
                    font-size: 12px;
                }
                a {
                    font-size: 11px;
                }
            }
        }
    }
    > {
        .container {
            max-width: unset;
            overflow: visible;
            padding: 0;
        }
        .developer > .container {
            max-width: unset;
            padding: 0;
        }
    }
    .container nav a {
        border-bottom: 0 none;
        font-size: .8em;
    }
}
.link_finder_search_icon {
    margin: 14px 0 0;
    right: 260px;
}
#sub_nav {
    height: 31px;
    menu {
        width: 35px;
        height: 28px;
    }
    a.active {
        background-color: $alabaster;
    }
}
#link_finder_results {
    z-index: 1;
    position: fixed;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: 300px;
    border: 2px solid $black_30;
    box-shadow: 0 0 12px $black_25;
    span {
        font-size: .9em;
    }
    a {
        padding: 5px 10px;
        font-size: 1em;
    }
}
#properties_tab {
    .float_margin {
        margin-top: 0 !important;
    }
    .template {
        margin: 0;
        .select_options {
            width: 100% !important;
        }
        .select span {
            width: 100% !important;
        }
    }
    .external {
        margin: 0;
        input {
            width: 100%;
        }
    }
}
.bigtree_dialog_form {
    input[type=text] {
        width: 100%;
    }
    input[type=email] {
        width: 100%;
    }
    input[type=password] {
        width: 100%;
    }
    input[type=url] {
        width: 100%;
    }
}
@media(max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        &.active {
            margin-left: 0;
        }
    }
    #sidebarCollapse span {
        display: none;
    }
}
#uccmsDashboard {
    .light-text {
        color: $black_50 !important;
        a {
            color: $black_50 !important;
        }
    }
    .lighter-text {
        color: $black_30 !important;
        a {
            color: $black_30 !important;
        }
    }
    .bold-text {
        color: $black_60 !important;
        font-weight: 700;
        a {
            color: $black_60 !important;
            font-weight: 700;
        }
    }
    .bolder-text {
        color: $black_80 !important;
        font-weight: 700;
        a {
            color: $black_80 !important;
            font-weight: 700;
        }
    }
    .text-color-red {
        color: $color_red !important;
    }
    .background-color-red {
        background-color: $color_red !important;
    }
    .border-color-red {
        border-color: $color_red !important;
    }
    .text-color-green {
        color: $color_jade_approx !important;
    }
    .background-color-green {
        background-color: $color_jade_approx !important;
    }
    .border-color-green {
        border-color: $color_jade_approx !important;
    }
    .text-color-lightgreen {
        color: $color_algae_green_approx !important;
    }
    .background-color-lightgreen {
        background-color: $color_algae_green_approx !important;
    }
    .border-color-lightgreen {
        border-color: $color_algae_green_approx !important;
    }
    .text-color-blue {
        color: $color_picton_blue_approx !important;
    }
    .background-color-blue {
        background-color: $color_picton_blue_approx !important;
    }
    .border-color-blue {
        border-color: $color_picton_blue_approx !important;
    }
    .text-color-lightblue {
        color: $color_viking_approx !important;
    }
    .background-color-lightblue {
        background-color: $color_viking_approx !important;
    }
    .border-color-lightblue {
        border-color: $color_viking_approx !important;
    }
    .text-color-orange {
        color: $color_yellow_orange_approx !important;
    }
    .background-color-orange {
        background-color: $color_yellow_orange_approx !important;
    }
    .border-color-orange {
        border-color: $color_yellow_orange_approx !important;
    }
    .bold {
        font-weight: bold;
    }
    .float-left {
        float: left;
    }
    .float-right {
        float: right;
    }
    .float-none {
        float: none;
    }
    .align-left {
        text-align: left;
    }
    .align-center {
        text-align: center;
    }
    .align-right {
        text-align: right;
    }
    .little-bg-box {
        display: inline-block;
        margin: 0;
        padding: 3px 5px;
        line-height: 1em;
        border-radius: 3px;
        color: $white;
    }
    .drow {
        margin: 15px -15px;
    }
    .ditems {
        .ditem {
            margin: 0;
            padding: 10px;
            line-height: 1.4em;
            .align-left {
                padding-left: 0;
            }
            .align-center {
                text-align: center;
            }
            .align-right {
                padding-right: 0;
            }
        }
        &.alt-bg-odd .ditem:nth-child(odd) {
            background-color: $color_athens_gray_50_approx;
        }
        &.alt-bg-even .ditem:nth-child(even) {
            background-color: $color_athens_gray_50_approx;
        }
    }
    .dblock {
        .table {
            margin: 0;
            padding: 0;
            border: 0 none;
        }
        h2 {
            margin: 20px 15px 0;
            padding: 0;
            font-size: 1.5em;
            line-height: 1em;
            font-weight: 900;
            text-transform: uppercase;
            a {
                color: $color_mine_shaft_90_approx;
            }
            small {
                font-weight: 400;
            }
        }
        h3 {
            margin: 5px 15px 0;
            padding: 0;
            font-size: 1em;
            line-height: 1em;
            font-weight: 600;
            text-transform: none;
            color: $color_fuscous_gray_approx;
        }
        .view-all {
            margin: 15px auto 0;
            text-align: center;
        }
        .btn {
            display: inline-block;
            margin: 0;
            padding: 7px 15px;
            border: 1px solid $color_celeste_approx;
                border-radius: 2px;
            font-weight: bold;
            color: $black_80;
            text-transform: uppercase;
            &:hover {
                border: 1px solid $black_70;
            }
            &.small {
                padding: 5px 8px;
                font-size: 11px;
            }
        }
        .content {
            min-height: 15px;
            margin: 15px 0 0;
            &.coming-soon-text {
                text-align: center;
                line-height: 50px;
            }
            .no-results {
            }
            .ditem[data-link] {
                cursor: pointer;
            }
            .ditem {
                &.template {
                    display: none;
                }
                .little-bg-box {
                    margin-top: -1px;
                }
            }
            .big-circle-num {
                text-align: center;
                vertical-align: middle;
                > a {
                    display: block;
                    color: $color_storm_dust_approx;
                }
                .num {
                    display: inline-block;
                    min-width: 25%;
                    margin: 15px 0 0;
                    padding: 15px 20px;
                                border-radius: 50%;
                    text-align: center;
                    font-size: 3em;
                    line-height: 1em;
                    color: $white;
                }
                .title {
                    display: block;
                    margin-top: 5px;
                }
            }
            a.ditem {
                display: block;
                cursor: default;
                span[class*="dcol-"] {
                    display: block;
                    line-height: 1.4em;
                    color: $color_storm_dust_approx;
                }
            }
            .drow.num-boxes {
                margin-left: 0;
                margin-right: 0;
                .box {
                    margin: 0;
                    padding: 0;
                    border-top: 10px solid transparent;
                    text-align: center;
                    .title {
                        display: block;
                        margin-top: 10px;
                        text-transform: uppercase;
                        color: $black_50;
                    }
                    .num {
                        display: block;
                        margin-top: 5px;
                        font-size: 3em;
                        line-height: 1em;
                        color: $black_80;
                    }
                    .view-all {
                        margin-top: 5px;
                        color: $black_80;
                    }
                }
            }
        }
        &.card {
            .main-image {
                height: 8rem;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-color: $color_gallery_approx;
            }
            h4 {
                margin: 10px 0 0;
                font-size: 2em;
                line-height: 1em;
                font-weight: 400;
                color: $black_80;
            }
            .bottom-block-links {
                overflow: hidden;
                margin: 15px -1.25rem 0;
                border-top: 1px solid $color_wild_sand_approx;
                border-bottom-left-radius: .25rem;
                border-bottom-right-radius: .25rem;
                .link {
                    display: block;
                    margin: 0;
                    padding: 15px 10px;
                    background-color: $color_alabaster_approx;
                    border-right: 1px solid $color_wild_sand_approx;
                    text-align: center;
                    text-transform: uppercase;
                    color: $black_60;
                    &:last-child {
                        border-right: 0 none;
                    }
                    &:hover {
                        background-color: $color_wild_sand_approx;
                        color: $black_80;
                    }
                }
            }
            .content.with-bottom-block {
                margin-bottom: 0;
            }
            .card-body.with-bottom-block {
                padding-bottom: 0;
            }
        }
        &:not(.nobg) > .contain {
                border-radius: .25rem;
            background-color: $white;
            border: 1px solid $black_12_5;
        }
        > .contain > .top {
            &.float-right {
                margin: 20px 15px 15px;
            }
            .stat.large {
                font-size: 1.3em;
            }
        }
        &.nobg .content .no-results {
            margin: 0;
        }
        &.cards > .contain {
            > {
                .content {
                }
                .top.float-right {
                    margin: 15px 0 0;
                }
            }
            > h2 {
                margin: 0;
            }
            > h3 {
                margin-left: 0;
            }
        }
    }
    .dblock[data-link] {
        cursor: pointer;
    }
    > .drow {
        margin-left: 0;
        margin-right: 0;
    }
}
label.for_checkbox {
    padding-left: 5px;
}
.page-item.active .page-link {
    border-color: $color_primary;
    background-color: $color_primary;
}
input.date_time_picker {
    float: none;
}
.ui-timepicker-div dl {
    margin: 0;
    dt {
        width: 30%;
        font-size: .9em;
    }
    dd {
        width: 70%;
    }
}
.card .card-header .btn {
    padding: 4px 10px;
    font-size: .8em;
}
.many_to_many footer {
    .select {
        > span {
            max-width: 100% !important;
        }
        .select_options {
            max-width: 100% !important;
        }
    }
    .button {
        clear: both;
        float: none;
        margin: 15px 0 0;
    }
}
.developer .form_table {
    .developer_resource_id {
        padding: 0 0 0 25px;
        span {
            margin: 7px 7px 0 -21px;
        }
    }
    .developer_resource_type .select span {
        width: 100% !important;
    }
}
.body .wrapper {
    display: flex;
    width: 100%;
    min-height: unset;
    margin: 0;
    padding: 0;
    align-items: stretch;
}
.text:before {
    content: '';
    display: inline-block;
}
.image_field .currently {
    overflow: visible;
    height: auto;
    padding: 0;
    a {
        display: block;
    }
    .currently_wrapper {
        height: 120px;
    }
    label {
        width: 100%;
    }
}
fieldset.callouts {
    width: calc(100% +60px);
    .contain article {
        h4 {
            height: 35px;
        }
        p {
            line-height: 0;
        }
    }
}


@import "components/nav.main";

@import "components/activity_container";


.search_paging .form_search {
    font-size: .8em;
}
footer.main {
    position: relative;
    padding: 15px 0;
    border-color: $white_10;
    background-color: $color_shark_approx;
    z-index: 6;
    min-width: auto;
    section {
        width: 100%;
        padding: 0 15px;
    }
}
#page_form footer {
    .button {
        background-color: $black_10;
        border: 1px solid $color_celeste_approx;
        color: $color_tundora_approx;
    }
    input[type=submit]:hover {
        background-color: $color_pink_swan_approx;
        background-color: $black_15;
    }
    a.button:hover {
        background-color: $color_pink_swan_approx;
        background-color: $black_15;
    }
    input.blue {
        background-color: $color_primary;
    }
}
.bigtree_dialog_window h2 {
    height: 36px;
}


@import "icons/uico"